#mlbPlayerStatsComponentContainer {
  display: none; }
  #mlbPlayerStatsComponentContainer #searchArea #searchInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; }
    #mlbPlayerStatsComponentContainer #searchArea #searchInputContainer h3 {
      font-weight: 300; }
    #mlbPlayerStatsComponentContainer #searchArea #searchInputContainer input {
      margin-bottom: 5px; }
  #mlbPlayerStatsComponentContainer #searchArea .search-result {
    border: 1px solid lightgray;
    margin: 5px;
    transition: border 300ms; }
    #mlbPlayerStatsComponentContainer #searchArea .search-result h5 {
      font-weight: 400; }
  #mlbPlayerStatsComponentContainer #searchArea .search-result:hover {
    border: 1px solid midnightblue;
    cursor: pointer; }
    #mlbPlayerStatsComponentContainer #searchArea .search-result:hover .search-result-data {
      border-left: 5px solid midnightblue; }
  #mlbPlayerStatsComponentContainer #chartSelectors .tab-pane .selectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #mlbPlayerStatsComponentContainer #chartSelectors .selector-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid lightgray;
    height: 50px;
    margin: 5px;
    transition: border 300ms; }
  #mlbPlayerStatsComponentContainer #chartSelectors .selector-container:hover {
    cursor: pointer;
    border-color: #1E2933; }
  #mlbPlayerStatsComponentContainer .category-title {
    padding: 10px 0 0 0;
    font-weight: 400; }
  #mlbPlayerStatsComponentContainer .stat-container {
    display: flex;
    flex-wrap: wrap; }

@media (max-width: 575px) {
  #searchArea #searchInputContainer {
    padding: 10px; }
    #searchArea #searchInputContainer h3 {
      font-size: 18px; }
    #searchArea #searchInputContainer .text-muted {
      font-size: 13px; }
    #searchArea #searchInputContainer input {
      width: 100%; }
  #searchArea .search-result {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px; }
    #searchArea .search-result .search-result-data {
      padding-left: 5px;
      border-left: 5px solid white; }
      #searchArea .search-result .search-result-data h5 {
        font-size: 16px;
        margin-bottom: 0; }
      #searchArea .search-result .search-result-data div, #searchArea .search-result .search-result-data a {
        font-size: 12px; }

  #chartArea #chartSelectors .tab-content .selectors .selector-container {
    width: 20%; }
    #chartArea #chartSelectors .tab-content .selectors .selector-container .text-muted {
      font-size: 11px; }

  #yearTabsContainer .tab-content .stat-category-container .category-title {
    font-size: 14px; }
  #yearTabsContainer .tab-content .stat-category-container .stat-container .text-muted {
    font-size: 12px; } }
@media (min-width: 576px) {
  #searchArea #searchInputContainer {
    padding: 10px; }
    #searchArea #searchInputContainer h3 {
      font-size: 22px; }
    #searchArea #searchInputContainer .text-muted {
      font-size: 16px; }
    #searchArea #searchInputContainer input {
      width: 100%; }
  #searchArea .search-result {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px; }
    #searchArea .search-result .search-result-data {
      padding-left: 7px;
      border-left: 5px solid white; }
      #searchArea .search-result .search-result-data h5 {
        font-size: 18px;
        margin-bottom: 0; }
      #searchArea .search-result .search-result-data div, #searchArea .search-result .search-result-data a {
        font-size: 14px; }

  #chartArea #chartSelectors .tab-content .selectors .selector-container {
    width: 20%; }
    #chartArea #chartSelectors .tab-content .selectors .selector-container .text-muted {
      font-size: 12px; }

  #yearTabsContainer .tab-content .stat-category-container .category-title {
    font-size: 15px; }
  #yearTabsContainer .tab-content .stat-category-container .stat-container .text-muted {
    font-size: 13px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #searchArea #searchInputContainer {
    padding: 10px; }
    #searchArea #searchInputContainer h3 {
      font-size: 22px; }
    #searchArea #searchInputContainer .text-muted {
      font-size: 16px; }
    #searchArea #searchInputContainer input {
      width: 60%; }
  #searchArea .search-result {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px; }
    #searchArea .search-result .search-result-data {
      padding-left: 7px;
      border-left: 5px solid white; }
      #searchArea .search-result .search-result-data h5 {
        font-size: 18px;
        margin-bottom: .2rem; }
      #searchArea .search-result .search-result-data div, #searchArea .search-result .search-result-data a {
        font-size: 14px; }

  #chartArea #chartSelectors .tab-content .selectors .selector-container {
    width: 20%; }
    #chartArea #chartSelectors .tab-content .selectors .selector-container .text-muted {
      font-size: 14px; }

  #yearTabsContainer .tab-content .stat-category-container .category-title {
    font-size: 16px; }
  #yearTabsContainer .tab-content .stat-category-container .stat-container .text-muted {
    font-size: 14px; } }
@media (min-width: 992px) {
  #searchArea #searchInputContainer {
    padding: 10px; }
    #searchArea #searchInputContainer h3 {
      font-size: 22px; }
    #searchArea #searchInputContainer .text-muted {
      font-size: 16px; }
    #searchArea #searchInputContainer input {
      width: 50%; }
  #searchArea .search-result {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px; }
    #searchArea .search-result .search-result-data {
      padding-left: 7px;
      border-left: 5px solid white; }
      #searchArea .search-result .search-result-data h5 {
        font-size: 18px;
        margin-bottom: .2rem; }
      #searchArea .search-result .search-result-data div, #searchArea .search-result .search-result-data a {
        font-size: 14px; }

  #chartArea #chartSelectors .tab-content .selectors .selector-container {
    width: 20%; }
    #chartArea #chartSelectors .tab-content .selectors .selector-container .text-muted {
      font-size: 15px; }

  #yearTabsContainer .tab-content .stat-category-container .category-title {
    font-size: 16px; }
  #yearTabsContainer .tab-content .stat-category-container .stat-container .text-muted {
    font-size: 15px; } }
@media (min-width: 1200px) {
  #searchArea #searchInputContainer {
    padding: 10px; }
    #searchArea #searchInputContainer h3 {
      font-size: 22px; }
    #searchArea #searchInputContainer .text-muted {
      font-size: 16px; }
    #searchArea #searchInputContainer input {
      width: 50%; }
  #searchArea .search-result {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px; }
    #searchArea .search-result .search-result-data {
      padding-left: 7px;
      border-left: 5px solid white; }
      #searchArea .search-result .search-result-data h5 {
        font-size: 18px;
        margin-bottom: .2rem; }
      #searchArea .search-result .search-result-data div, #searchArea .search-result .search-result-data a {
        font-size: 14px; }

  #chartArea #chartSelectors .tab-content .selectors .selector-container {
    width: 15%; }
    #chartArea #chartSelectors .tab-content .selectors .selector-container .text-muted {
      font-size: 16px; }

  #yearTabsContainer .tab-content .stat-category-container .category-title {
    font-size: 17px; }
  #yearTabsContainer .tab-content .stat-category-container .stat-container .text-muted {
    font-size: 16px; } }

/*# sourceMappingURL=mlbplayers.component.css.map */
