<div id="teamStatsContainer">
  <div id="statSelectorContainer">
    <div class="stat-card col-xl-2 rounded" (click)="switchChart(null, 'HR')">
      <small class="text-muted">Homeruns</small>
      <h5 class="h5">{{selectedTeam.HR}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart(null, 'R')">
      <small class="text-muted">Runs</small>
      <h5 class="h5">{{selectedTeam.R}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart(null, 'AB')">
      <small class="text-muted">At Bats</small>
      <h5 class="h5">{{selectedTeam.AB}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart(null, '2B')">
      <small class="text-muted">Doubles</small>
      <h5 class="h5">{{selectedTeam['2B']}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart(null, '3B')">
      <small class="text-muted">Triples</small>
      <h5 class="h5">{{selectedTeam['3B']}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart('pitching', 'ER')">
      <small class="text-muted">Earned Runs</small>
      <h5 class="h5">{{selectedTeam.ER}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart('pitching', 'ERA')">
      <small class="text-muted">ERA</small>
      <h5 class="h5">{{selectedTeam.ERA}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart('fielding', 'E')">
      <small class="text-muted">Errors</small>
      <h5 class="h5">{{selectedTeam.E}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart(null, 'SB')">
      <small class="text-muted">Stolen Bases</small>
      <h5 class="h5">{{selectedTeam.SB}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart('salaries', 'salary')">
      <small class="text-muted">Team Salary</small>
      <h5 class="h5">{{selectedTeam.totalTeamSalary | currency: 'USD':true:'1.1-1'}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart('batting', 'SO')">
      <small class="text-muted">Strikeouts</small>
      <h5 class="h5">{{selectedTeam.SO}}</h5>
    </div>
    <div class="stat-card col-xl-2 rounded" (click)="switchChart('fielding', 'DP')">
      <small class="text-muted">Double Plays</small>
      <h5 class="h5">{{selectedTeam.DP}}</h5>
    </div>
  </div>
  <div id="teamStatsChart"></div>
  <div id="playerCardsContainer">
    <div class="col-xl-4 player-card-container" *ngFor="let player of selectedTeam.players" (click)="goToPlayer(player)">
      <div class="player-card-container-inner rounded">
        <h5>{{player.personal[0].fullName}}</h5>
        <small class="text-muted">
          Debut: {{player.personal[0].debut | date}}
        </small>
        <hr />
        <div class="stats-container">
          <small class="text-muted col-xl-6">Height: {{player.personal[0].height}}</small>
          <small class="text-muted col-xl-6">Weight: {{player.personal[0].weight}}</small>
          <small class="text-muted col-xl-6">Bats: {{player.personal[0].bats}}</small>
          <small class="text-muted col-xl-6">Throws: {{player.personal[0].throws}}</small>
          <small class="text-muted col-xl-6">Age: {{player.personal[0].age}}</small>
          <small class="text-muted col-xl-6">Height: {{player.personal[0].height}}</small>
          <small class="text-muted col-xl-6">Runs: {{player.batting[0].AB}}</small>
          <small class="text-muted col-xl-6">At Bats: {{player.batting[0].AB}}</small>
          <small class="text-muted col-xl-6">RBI: {{player.batting[0].RBI}}</small>
          <small class="text-muted col-xl-6">Hits: {{player.batting[0].H}}</small>
        </div>
        <div class="accolade-container">
          <hr/>
          <span class="badge badge-primary" *ngFor="let award of player.individualAwards">{{award.awardID}}</span>
          <span class="badge badge-default" [hidden]="player.individualAwards.length > 0">No Individual Awards</span>
        </div>
      </div>
    </div>
  </div>
</div>
