@import '../../../../../../globals';

.dialog-container {
  @extend .g-dialog-container;
  .dialog-header {
    @extend .g-dialog-header;
    .dialog-title {
      @extend .g-dialog-title;
    }
  }
  .dialog-main {
    @extend .g-dialog-main;
    .input-container {
      @extend .g-input-container;
      width: 50%;
      padding: 10px;
    }
    #inputOptions {
      .invoice-date-options {
        display: flex;
      }
      #invoiceCompany {
        display: flex;
      }
    }
    #preview {
      #previewHeader {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .header-text {
          padding: 5px 10px;
          font-size: 80%;
        }
      }
    }
  }
  .dialog-footer {
    @extend .g-dialog-footer;
  }
}
