<section class="dialog-container">
  <div class="dialog-header">
    <h3 class="dialog-title">Create Invoice</h3>
    <hr />
  </div>
  <div class="dialog-main">
    <div id="inputOptions">
      <div id="invoiceCompany">
        <div class="input-container">
          <md-select [(ngModel)]="company" (change)="getInvoiceEntries()">
            <md-option *ngFor="let company of companies" [value]="company">{{company.name}}</md-option>
          </md-select>
        </div>
        <div class="input-container">
          <md-input-container>
            <input mdInput placeholder="Bill Rate" [(ngModel)]="billRate"  type="number" (change)="onBillRateChange()"/>
          </md-input-container>
        </div>
      </div>
      <div class="invoice-date-options">
        <div class="input-container">
          <md-select placeholder="Invoice Month" [(ngModel)]="invoiceMonth" (change)="getInvoiceEntries()">
            <md-option value="0">January</md-option>
            <md-option value="1">February</md-option>
            <md-option value="2">March</md-option>
            <md-option value="3">April</md-option>
            <md-option value="4">May</md-option>
            <md-option value="5">June</md-option>
            <md-option value="6">July</md-option>
            <md-option value="7">August</md-option>
            <md-option value="8">September</md-option>
            <md-option value="9">October</md-option>
            <md-option value="10">November</md-option>
            <md-option value="11">December</md-option>
          </md-select>
        </div>
        <div class="input-container">
          <md-input-container>
            <input mdInput placeholder="Invoice Year" [(ngModel)]="invoiceYear" type="number" (change)="getInvoiceEntries()" />
          </md-input-container>
        </div>
      </div>
    </div>
    <div id="preview">
      <div id="previewHeader">
        <div class="text-muted lead header-text">Entries Found: {{entries.length}}</div>
        <div class="text-muted lead header-text">Total Hours: {{totalHours}}</div>
        <div class="text-muted lead header-text">Total Compensation: {{totalCompensation | currency:'USD':true}}</div>
      </div>
      <div *ngFor="let entry of entries">
        <md-expansion-panel>
          <md-expansion-panel-header>
            <md-panel-title>{{entry.date | date}} - {{entry.project.name}}</md-panel-title>
            <md-panel-description>{{entry.timeSpent}}</md-panel-description>
          </md-expansion-panel-header>
          {{entry.description}}
        </md-expansion-panel>
      </div>
    </div>
  </div>
  <div class="dialog-footer">
    <button md-raised-button color="primary" (click)="createInvoice()">Create</button>
    <button md-raised-button (click)="cancel()">Cancel</button>
  </div>

</section>

