@import '../../../../../../globals';

.dialog-container {
  @extend .g-dialog-container;
  .dialog-header {
    @extend .g-dialog-header;
    .dialog-title {
      @extend .g-dialog-title;
    }
  }
  .dialog-main {
    @extend .g-dialog-main;
    .input-container {
      @extend .g-input-container;
      width: 50%;
      padding: 10px;
    }
    #invoiceCompany {
      .input-container {
        width: 100%;
      }
    }
    #inputOptions {
      .invoice-date-options {
        display: flex;
      }
    }
    #preview {
    }
  }
  .dialog-footer {
    @extend .g-dialog-footer;
  }
}
