<div id="powerballContainer">
  <div class="jumbotron">
    <h1 class="display-4">Powerball Estimator</h1>
    <p class="lead">Powerball estimation for all based off Powerball history</p>
  </div>
  <div id="body" class="container">
    <div id="powerballChart"></div>
    <div id="powerballNumbersContainer">
      <div class="powerball-numbers col-xl-5" *ngFor="let pb of powerballData.drawings">
        <div class="draw-date text-muted">{{pb.date | date}}</div>
        <div class="powerball-set">
          <div class="powerball-number">
            {{pb.first}}
          </div>
          <div class="powerball-number">
            {{pb.second}}
          </div>
          <div class="powerball-number">
            {{pb.third}}
          </div>
          <div class="powerball-number">
            {{pb.fourth}}
          </div>
          <div class="powerball-number">
            {{pb.fifth}}
          </div>
          <div class="powerball-number-powerball">
            {{pb.powerball}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
