#powerballContainer {
  padding-top: 55px;
  .jumbotron {
    text-align: center;
  }
  #body {
    #powerballs {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .powerball-number {
        border: 2px solid #ccc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        margin: 3px;
        font-size: 13px;
        font-weight: 600;
        transition: border 500ms ease-out, background 500ms ease-out, color 500ms ease-out;
      }
      .powerball-number:hover {
        border: 2px solid #cf0a2c;
        background-color: #cf0a2c;
        color: #fff;
        cursor: pointer;
      }
    }
    #powerballNumbersContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .powerball-numbers {

        border: 1px solid lightgray;
        padding: 5px 10px 5px 10px;
        margin: 10px;
        .draw-date {
          text-align: left;
          font-size: 13px;
          margin-bottom: 5px;
        }
        .powerball-set {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          .powerball-number {
            border: 2px solid #ccc;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            margin: 3px;
            font-size: 13px;
            font-weight: 600;
          }
          .powerball-number-powerball {
            border: 2px solid #cf0a2c;
            border-radius: 50%;
            background-color: #cf0a2c;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            margin: 3px;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
