<div md-dialog-container>
  <h4 md-dialog-title>Contact Form</h4>
  <div md-dialog-content>
    <div class="row">
      <md-input-container class="col-xl-12">
        <input mdInput placeholder="From" />
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container class="col-xl-12">
        <input mdInput placeholder="Subject" />
      </md-input-container>
    </div>
    <div class="row">
      <md-input-container class="col-xl-12">
        <textarea mdInput placeholder="Message" rows="4"></textarea>
      </md-input-container>
    </div>
  </div>
  <div md-dialog-actions>
    <button md-dialog-close="Send" md-button md-raised-button>Send</button>
    <button md-dialog-close="Close" md-button>Close</button>
  </div>
</div>
