<div mat-dialog-container>
  <h4 mat-dialog-title>Contact Form</h4>
  <div mat-dialog-content>
    <div class="row">
      <mat-input-container class="col-xl-6">
        <input matInput placeholder="From" [(ngModel)]="from" />
      </mat-input-container>
      <mat-input-container class="col-xl-6">
        <input matInput placeholder="Subject" [(ngModel)]="subject" />
      </mat-input-container>
    </div>

    <div class="row">
      <mat-input-container class="col-xl-12">
        <textarea matInput placeholder="Message" rows="4" [(ngModel)]="message"></textarea>
      </mat-input-container>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-dialog-close="true" mat-button mat-raised-button>Send</button>
    <button mat-dialog-close="false" mat-button>Close</button>
  </div>
</div>
