<md-sidenav-container class="side-nav-container">
  <md-sidenav #sidenav class="side-nav">
    <div class="company-item-container" *ngFor="let company of companies">
      <div class="company-item" (click)="expandProjects(company)">
        <div>{{company.name}}</div>
        <div><i class="fa fa-angle-double-right" aria-hidden="true" [class.rotated]="clickedCompany.name === company.name"></i></div>
      </div>
      <div class="company-project-container" [class.expanded]="clickedCompany.name === company.name">
        <ul>
          <li *ngFor="let project of company.projects">{{project.name}}</li>
          <li>
            <button md-raised-button (click)="addProject(company)">
              <i class="fa fa-plus" aria-hidden="true"></i>
              New Project
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="new-company-button">
      <button md-button md-raised-button (click)="addCompany()">New Company</button>
      <button md-button md-raised-button (click)="addProject()">New Project</button>
    </div>
  </md-sidenav>
  <div id="pageContent">
    <div class="side-bar" (click)="sidenav.open()">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="main-content">
      <md-tab-group class="tab-group" [selectedIndex]="selectedTab">
        <md-tab label="Home">
          <div class="home-cards-container">
            <md-card class="tile-card blue">
              <md-card-content class="tile-card-content" (click)="changeTab(1)">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
            <md-card class="tile-card red" (click)="changeTab(2)">
              <md-card-content class="tile-card-content">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
            <md-card class="tile-card light-blue" (click)="changeTab(3)">
              <md-card-content class="tile-card-content">
                <i class="fa fa-book" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
            <md-card class="tile-card green" (click)="changeTab(4)">
              <md-card-content class="tile-card-content">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
          </div>
        </md-tab>
        <md-tab label="Calendar">Calendar</md-tab>
        <md-tab label="Timesheet">
          <app-time-tracker-timesheet></app-time-tracker-timesheet>
        </md-tab>
        <md-tab label="Invoices">Invoices</md-tab>
        <md-tab label="Breakdown">Breakdown</md-tab>
      </md-tab-group>
    </div>
  </div>
</md-sidenav-container>
