<md-sidenav-container class="side-nav-container">
  <md-sidenav #sidenav class="side-nav">
    <div class="company-item-container" *ngFor="let company of companies">
      <div class="company-item" (click)="toggleCollapse(company)">
        <div class="side-nav-text">{{company.name}}</div>
        <div><i class="fa fa-angle-double-right" aria-hidden="true" [class.rotated]="company._id === selectedCompany._id"></i></div>
      </div>
      <div class="company-project-container" [class.expanded]="company._id === selectedCompany._id">
        <ul>
          <li *ngFor="let project of company.projects">
            <div class="side-nav-text">
              {{project.name}}
            </div>
          </li>
          <li>
            <div class="new-project-button" (click)="addProject()">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <div class="side-nav-text">New Project</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="new-company-button" (click)="addCompany()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <div class="side-nav-text">New Company</div>
    </div>
  </md-sidenav>
  <div id="pageContent">
    <div class="side-bar" (click)="sidenav.open()">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
    <div class="main-content">
      <md-tab-group class="tab-group" [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab = $event">
        <md-tab label="Home">
          <div class="home-cards-container">
            <md-card class="tile-card blue">
              <md-card-content class="tile-card-content" (click)="changeTab(1)">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
            <md-card class="tile-card red" (click)="changeTab(2)">
              <md-card-content class="tile-card-content">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
            <md-card class="tile-card light-blue" (click)="changeTab(3)">
              <md-card-content class="tile-card-content">
                <i class="fa fa-book" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
            <md-card class="tile-card green" (click)="changeTab(4)">
              <md-card-content class="tile-card-content">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
              </md-card-content>
            </md-card>
          </div>
        </md-tab>
        <md-tab label="Calendar">
          <app-time-tracker-calendar></app-time-tracker-calendar>
        </md-tab>
        <md-tab label="Timesheet">
          <app-time-tracker-timesheet></app-time-tracker-timesheet>
        </md-tab>
        <md-tab label="Invoices">
          <app-time-tracker-invoice></app-time-tracker-invoice>
        </md-tab>
        <md-tab label="Breakdown">Breakdown</md-tab>
      </md-tab-group>
    </div>
  </div>
</md-sidenav-container>
