.side-nav-container {
  height: 100%;
  width: 100%;
  padding-top: 55px;
  .side-nav {
    padding-top: 55px;
    width: 15%;
    .company-item {
      width: 100%;
      height: 60px;
      background-color: #1E2933;
      color: white;
      text-align: center;
      padding: 5px;
    }
  }
  #pageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
