#mlbsstatsBallparksContainer {
  display: none;
  #ballparksContainer {
    display: flex;
    flex-wrap: wrap;
    .park-container {
      .park-container-inner {
        border: 1px solid gray;
        padding: 5px;
        margin: 5px;
      }
    }
  }
}
