<div id="mlbstatsAPIContainer">
  <nav>
    <app-global-nav></app-global-nav>
  </nav>
  <div id="header">
    <div class="jumbotron">
      <h1 class="display-3">MLB Stats REST API</h1>
      <p class="lead">API Explorer</p>
    </div>
    <div id="imageContainer">
      <img src="/images/safeco.jpg" class="img-circle"/>
    </div>
  </div>
  <div id="body" class="container">
    <h1 class="jumbotron-heading">
      MLB Stats REST API Explorer
    </h1>
    <hr />
    <p class="lead text-muted">REST API based off of
      <a href="https://github.com/chadwickbureau/baseballdatabank" target="_blank">Baseball Databank</a> and
      <a href="http://www.mlbam.com/" target="_blank">MLB Advanced Media API</a>
    </p>
    <div>
      <div>
        <mat-tab-group>
          <mat-tab label="Teams">
            <div class="tab-inner">
              <p>The teams endpoint takes in two arguments: <strong>Year</strong> and <strong>Team ID</strong>. The return is an array of type Team.
              </p>
              <pre>/api/mlbstats/years/<strong>:yearID</strong>/teams/<strong>:teamID</strong></pre>
              <pre>/api/mlbstats/years/<strong>1977</strong>/teams/<strong>SEA</strong></pre>
              <div class="section-inputs">
                <div class="mlb-slider">
                  <div class="year-label">Year {{selectedTeamYear}}</div>
                  <mat-slider class="col-xl-12" min="1871" max="2016" [value]="selectedTeamYear" [thumbLabel]="true" (change)="teamYearSelected($event)"></mat-slider>
                </div>
                <div class="mlb-dropdown">
                  <mat-input-container class="col-xl-12">
                    <input matInput placeholder="Team" [matAutocomplete]="teamsAutocomplete" [formControl]="team" />
                  </mat-input-container>
                  <mat-autocomplete #teamsAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let team of filteredTeams | async" [value]="team.name" (onSelectionChange)="teamSelected(team)">
                      {{team.name}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Players">
            <div class="tab-inner">
              <p>The players endpoint takes in one argument: <strong>Player ID</strong>. The return is an array of type Players.
              </p>
              <pre>/api/mlbstats/players/id/<strong>:playerID</strong></pre>
              <pre>/api/mlbstats/players/id/<strong>griffke02</strong></pre>
              <div class="section-inputs">
                <div class="mlb-slider">
                  <div class="year-label">Year {{selectedPlayersYear}}</div>
                  <mat-slider class="col-xl-12" min="1871" max="2016" [value]="selectedPlayersYear" [thumbLabel]="true" (change)="playersYearSelected($event)"></mat-slider>
                </div>
                <div class="mlb-dropdown">
                  <mat-input-container class="col-xl-12">
                    <input matInput placeholder="Player" [matAutocomplete]="playersAutocomplete" [formControl]="player" />
                  </mat-input-container>
                  <mat-autocomplete #playersAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let player of filteredPlayers | async" [value]="player.personal[0].fullName" (onSelectionChange)="playerSelected(player)">
                      {{player.personal[0].fullName}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Ballparks">
            <div class="tab-inner">
              <p>The ballparks endpoint takes in one optional argument: <strong>Player ID</strong>. The return is an array of type Ballpark
              </p>
              <pre>/api/mlbstats/ballparks</pre>
              <pre>/api/mlbstats/ballparks/<strong>:key</strong></pre>
              <div class="section-inputs">
                <button type="button" class="btn btn-primary" (click)="getAllBallparks()">Get All Ballparks</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Boxscores">
            <div class="tab-inner">
              <p>The boxscores endpoint takes in three arguments: <strong>Year</strong>, <strong>Month</strong>, and <strong>Day</strong>. The return is an array of type Boxscore
              </p>
              <pre>/api/mlbstats/boxscores/<strong>2017</strong>/<strong>7</strong>/<strong>27</strong></pre>
              <pre>/api/mlbstats/boxscores/<strong>:year</strong>/<strong>:month</strong>/<strong>:day</strong></pre>
              <div class="section-inputs">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" >
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker (selectedChanged)="boxscoresDateChanged($event)"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="input-group" id="addressBar">
        <div class="input-group-addon"><strong>GET</strong></div>
        <input type="text" class="form-control" [(ngModel)]="path" readonly/>
        <button type="button" class="btn btn-primary" (click)="fetchAPIResult()">SEND</button>
      </div>
    </div>
    <hr />
    <pre id="results" class="rounded">
      <div id="emptyText" [hidden]="endpointSelected === true">
        <div class="text-muted center">Select an endpoint and hit SEND..</div>
      </div>
    </pre>
  </div>

</div>

