
#mlbstatsAPIContainer {
  margin-top: 55px;
  #header {
    width: 100%;
    .jumbotron {
      color: white;
      background-image: url('../../../../images/wrigly.jpg');
      background-size: cover;
      text-align: center;
    }
    #imageContainer {
      width: 100%;
      border-radius: 100px;
      text-align: center;
      img {
        border-radius: 100px;
        border: 3px solid gray;
      }
    }
  }
  #body {
    .jumbotron-heading {
      font-weight: 300;
    }
    margin-top: 15px;
    .tab-inner {
      padding: 10px;
      text-align: center;
      .mlb-slider {
        padding-top: 15px;
        width: 100%;
      }
      .mlb-dropdown {
        width: 100%;
      }
    }
    #addressBar {
      margin: 15px 0;
    }
    #results {
      margin: 15px 0;
      border: 1px solid lightgray;
      #emptyText {
        text-align: center;
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #header {
    .jumbotron {
      .display-3 {
        font-size: 38px;
      }
      .lead {
        font-size: 18px;
      }
    }
    #imageContainer {
      margin-top: -70px;
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
  #body {
    h1 {
      font-size: 18px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #header {
    .jumbotron {
      .display-3 {
        font-size: 38px;
      }
      .lead {
        font-size: 18px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 150px;
        width: 150px;
      }
    }
  }
  #body {
    h1 {
      font-size: 22px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #header {
    .jumbotron {
      .display-3 {
        font-size: 48px;
      }
      .lead {
        font-size: 28px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 150px;
        width: 150px;
      }
    }
  }
  #body {
    h1 {
      font-size: 26px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #header {
    .jumbotron {
      .display-3 {
        font-size: 54px;
      }
      .lead {
        font-size: 32px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 150px;
        width: 150px;
      }
    }
  }
  #body {
    h1 {
      font-size: 32px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header {
    .jumbotron {
      .display-3 {
        font-size: 54px;
      }
      .lead {
        font-size: 32px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 150px;
        width: 150px;
      }
    }
  }
  #body {
    h1 {
      font-size: 32px;
    }
  }
}
