#footerContainer {
  background-color: rgb(30, 41, 51);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  .social-media-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 40%;
    .icon-container {
      height: 55px;
      width: 55px;
      .social-media-icon {
        border: 1px solid transparent;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .social-media-icon.linkedIn {
        color: #FFF;
        transition: 200ms all;
      }
      .social-media-icon.linkedIn:hover {
        color: white;
        background-color: #455A64;
      }
      .social-media-icon.facebook {
        color: #FFF;
        transition: 200ms all;
      }
      .social-media-icon.facebook:hover {
        color: white;
        background-color: #455A64;
      }
      .social-media-icon.github {
        color: #FFF;
        transition: 200ms all;
      }
      .social-media-icon.github:hover {
        color: white;
        background-color: #455A64;
      }
      .social-media-icon.stackoverflow {
        color: #FFF;
        transition: 200ms all;
      }
      .social-media-icon.stackoverflow:hover {
        color: white;
        background-color: #455A64;
      }
      .social-media-icon.twitter {
        color: #FFF;
        transition: 200ms all;
      }
      .social-media-icon.twitter:hover {
        color: white;
        background-color: #455A64;
      }
      .social-media-icon.mail {
        color: #FFF;
        transition: 200ms all;
      }
      .social-media-icon.mail:hover {
        color: white;
        background-color: #455A64;
      }
    }
  }
  .copyright-container {
    text-align: center;
    color: #FFF;
    padding: 50px 0;
    div {
      padding: 10px;
      color: gray;
    }
  }
}
