<section id="footerContainer">
  <div class="social-media-container">
    <div class="icon-container" (click)="navigate('https://www.linkedin.com/in/marc-wilson-43675750/')">
      <div class="social-media-icon linkedIn">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </div>
    </div>
    <div class="icon-container" (click)="navigate('https://www.facebook.com/mswilson4040')">
      <div class="social-media-icon facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>
    <div class="icon-container" (click)="navigate('https://github.com/mswilson4040')">
      <div class="social-media-icon github">
        <i class="fa fa-git" aria-hidden="true"></i>
      </div>
    </div>
    <div class="icon-container" (click)="navigate('https://stackoverflow.com/users/2415802/mwilson')">
      <div class="social-media-icon stackoverflow">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
      </div>
    </div>
    <div class="icon-container" (click)="navigate('https://twitter.com/Mswilson4040')">
      <div class="social-media-icon twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </div>
    </div>
    <div class="icon-container" (click)="navigate('mailto:mwilson@marcswilson.com')">
      <div class="social-media-icon mail">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="copyright-container">
    <div>&copy; marcswilson.com</div>
    <div>Seattle, WA | 949.505.3407</div>
  </div>
</section>
