

.beer-card-container {
  display: none;
  .card-body {
    text-align: center;
    border: 1px solid #212121;
    position: relative;
    .card-img-top {
      height: 30%;
      width: 30%;
      margin: auto;
      padding-top: 15px;
    }
    .overlay-container {
      position: absolute;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      .overlay {
        position: absolute;
        background-color: black;
        opacity: 0.7;
        height: 100%;
        width: 100%;
      }
      .status-icon {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 38px;
        .fa-check {
          color: #449d44;
        }
        .fa-times {
          color: #d9534f;
        }
        i:hover {
          cursor: pointer;
          zoom: 150%;
        }
      }
    }
  }
  .card-footer {
    background: linear-gradient(#333333, #212121);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    .information-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 50%;

      .button-container {
        text-align: center;
        border: 1px solid white;
        border-radius: 100px;
        width: 25px;
        cursor: pointer;
        margin-right: 5px;
      }
      .button-container:hover {
        opacity: 0.7;
        background-color: #0275d8;
      }
    }
    .rating-container {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      align-items: center;
      .fa-star {
        color: #cccc00;
      }
      i {
        margin-left: 3%;
      }
    }
  }



}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card {

    .card-block {
      height: 90px;
      .card-text {
        font-size: medium;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card {

    .card-block {
      height: 90px;
      .card-text {
        font-size: medium;
      }
    }
  }
}
