<div class="card beer-card-container">
  <div class="card-body" (mouseenter)="toggleCardOverlay($event)" (mouseleave)="toggleCardOverlay($event)">
    <img src="{{beer.info.beer_label}}" class="card-img-top" />
    <div class="card-block">
      <div class="card-text">{{beer.name}}</div>
    </div>
    <div class="overlay-container">
      <div class="overlay"></div>
      <div class="status-icon" (click)="toggleCompleteState(beer)">
        <i class="fa fa-check" aria-hidden="true" [hidden]="beer.completed === false"></i>
        <i class="fa fa-times" aria-hidden="true" [hidden]="beer.completed === true"></i>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="information-container">
      <div class="button-container" (click)="showBeerInfo(beer)">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <span class="badge badge-success" [hidden]="beer.completed === false">Completed</span>
      <span class="badge badge-default" [hidden]="beer.completed === true">Incomplete</span>
    </div>
    <div class="rating-container">
      <i class="fa" [class.fa-star-o]="beer.info.rating_score < 1" [class.fa-star]="beer.info.rating_score > 1" aria-hidden="true"></i>
      <i class="fa" [class.fa-star-o]="beer.info.rating_score < 2" [class.fa-star]="beer.info.rating_score > 2" aria-hidden="true"></i>
      <i class="fa" [class.fa-star-o]="beer.info.rating_score < 3" [class.fa-star]="beer.info.rating_score > 3" aria-hidden="true"></i>
      <i class="fa" [class.fa-star-o]="beer.info.rating_score < 4" [class.fa-star]="beer.info.rating_score > 4" aria-hidden="true"></i>
      <i class="fa" [class.fa-star-o]="beer.info.rating_score < 5" [class.fa-star]="beer.info.rating_score >= 5" aria-hidden="true"></i>
    </div>
  </div>
</div>
