

#beerTrackerContainer {
  height: 100%;
  margin-top: 55px;
  #headerDiv {
    width: 100%;
    padding: 20px 0px;
    #headerDivInner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  #operationsBar {

    #menuActions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:center;
      padding: 20px 0px;

      button {
        background: linear-gradient(#333333, #212121);
        color: white;
        cursor: pointer;
      }

      .button-active {
        background: linear-gradient(#0275d8, #0275d8) !important;
      }

      #functionalActions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 70%;

        .btn-group {
          margin-right: 10px;
        }
      }

      #displayActions {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
      }
    }
  }
  #beerMenuContainer {
    .card-outter {
      margin-bottom: 10px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #pageTitle {
    font-size: 28px;
  }
  #functionalActions {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #pageTitle {
    font-size: 34px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #pageTitle {
    font-size: 34px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #pageTitle {
    font-size: 34px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #pageTitle {
    font-size: 34px;
  }
}
