<section id="homePage">
  <main>
    <div id="jumbotron">
    </div>
    <div id="mainContent">
      <mat-card>
        <div class="main">
          <div class="image-container">
            <img src="../../../images/memariners.jpg" />
          </div>
          <div class="content-container">
            <div>
              <div id="chatBubbleOuter">
                <span id="chatBubble">
                Hello, World
              </span>
              </div>
              <h1 id="headerText"> I'm <strong>Marc Wilson</strong></h1>
              <p class="mat-body-1">Seattle, WA</p>
              <hr />
              <section>
                <div>
                  <div class="mat-body-1">Age</div>
                  <div class="mat-body-1">32</div>
                </div>
                <div>
                  <div class="mat-body-1">Location</div>
                  <div class="mat-body-1">Seattle, WA</div>
                </div>
                <div>
                  <div class="mat-body-1">Email</div>
                  <div class="mat-body-1">marc@marcswilson.com</div>
                </div>
                <div>
                  <div class="mat-body-1">Title</div>
                  <div class="mat-body-1">Software Engineer</div>
                </div>
                <div id="contactButton">
                  <button mat-raised-button (click)="launchContactForm()">Contact Me</button>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="social-media-container">
            <div class="icon-container" (click)="navigate('https://www.linkedin.com/in/marc-wilson-43675750/')">
              <div class="social-media-icon linkedIn">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://www.facebook.com/mswilson4040')">
              <div class="social-media-icon facebook">
                <i class="fab fa-facebook" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://github.com/mswilson4040')">
              <div class="social-media-icon github">
                <i class="fab fa-git" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://stackoverflow.com/users/2415802/mwilson')">
              <div class="social-media-icon stackoverflow">
                <i class="fab fa-stack-overflow" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://twitter.com/Mswilson4040')">
              <div class="social-media-icon twitter">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('mailto:marc@marcswilson.com')">
              <div class="social-media-icon mail">
                <i class="far fa-envelope" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <section id="welcomeTextSection" class="mat-body-1">
        <p class="mat-body-1">
          Hello, I'm Marc Wilson. I'm a Software Engineer with an emphasis in Front End Development. I'm
          experienced in JavaScript, TypeScript, HTML, CSS, SCSS, C#, Nodejs, Express, Angular, Bootstrap
          and jQuery to name a few. I am well-versed in both back end and front end but prefer working on
          the front end.
        </p>
      </section>
      <section id="aboutSection">
        <h1 id="about" class="mat-h1">About</h1>
        <hr />
        <app-about></app-about>
      </section>
      <section id="skillsSection">
        <h1 id="skills" class="mat-h1">Technologies and Languages</h1>
        <hr />
        <app-skills></app-skills>
      </section>
      <section id="experienceSection">
        <h1 id="experience" class="mat-h1">Professional Experience</h1>
        <hr />
        <app-experience></app-experience>
      </section>
      <!--<section id="portfolioSection">-->
        <!--<h1 id="portfolio" class="mat-h1"><a routerLink="/portfolio">Portfolio</a></h1>-->
        <!--<hr />-->
        <!--<app-portfolio></app-portfolio>-->
      <!--</section>-->
    </div>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</section>
