<section id="loginPage">
  <h1 class="mat-h1">Login</h1>
  <div id="login">
    <div class="input-container">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" />
      </mat-form-field>
    </div>
    <div id="loginContainer">
      <a routerLink="/register">Register</a>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
  </div>
</section>
