<section id="loginPage">
  <h1 class="mat-h1">Login</h1>
  <div id="login">
    <div class="input-container">
      <mat-form-field>
        <input matInput placeholder="Username" />
      </mat-form-field>
    </div>
    <div class="input-container">
      <mat-form-field>
        <input matInput placeholder="Password" type="password"/>
      </mat-form-field>
    </div>
    <div id="loginContainer">
      <a href="#">Register</a>
      <button mat-raised-button color="primary">Login</button>
    </div>
  </div>
</section>
