<section id="skillsContainer">
  <div>
    <md-card>
      <div class="skill-container">
        <label>JavaScript</label>
        <md-progress-bar mode="determinate" [value]="skillValue"></md-progress-bar>
      </div>
      <div class="skill-container">
        <label>TypeScript</label>
        <md-progress-bar mode="determinate" [value]="skillValue"></md-progress-bar>
      </div>
      <div class="skill-container">
        <label>HTML</label>
        <md-progress-bar mode="determinate" [value]="skillValue"></md-progress-bar>
      </div>
      <div class="skill-container">
        <label>CSS</label>
        <md-progress-bar mode="determinate" [value]="skillValue"></md-progress-bar>
      </div>
    </md-card>
  </div>
</section>
