#skillsContainer {
  width: 100%;
  div {
    width: 100%;
    md-card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .skill-container {
        text-align: left;
        width: 45%;
        margin: 5px;
      }
    }
  }

}
