<section class="container" id="timesheetContainer">
  <section id="timesheetRibbon">
    <h3>{{currentDate | date: 'fullDate'}}</h3>
    <md-select placeholder="Company" [(ngModel)]="selectedCompany" (change)="onCompanyChange()">
      <md-option *ngFor="let company of companies" [value]="company">{{company.name}}</md-option>
    </md-select>
  </section>
  <section>
    <nav>
      <md-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChanged($event)">
        <md-tab label="SUN"></md-tab>
        <md-tab label="MON"></md-tab>
        <md-tab label="TUE"></md-tab>
        <md-tab label="WED"></md-tab>
        <md-tab label="THU"></md-tab>
        <md-tab label="FRI"></md-tab>
        <md-tab label="SAT"></md-tab>
      </md-tab-group>
    </nav>
    <section id="timecardBody">
      <section *ngFor="let entry of filteredEntries">
        <div class="project-name">{{entry.date | date}} - {{entry.project.name}}</div>
        <section class="entry-info">
          <p class="entry-description">{{entry.description}}</p>
          <div class="entry-info-right">
            <div class="entry-time">{{entry.timeSpent | number: '1.2-2'}}</div>
            <button md-raised-button (click)="editEntry(entry)" mdTooltip="Edit Entry">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button md-raised-button (click)="deleteEntry(entry)" mdTooltip="Delete Entry">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </section>
        <hr />
      </section>
      <section class="timecard-actions">
        <button md-raised-button (click)="addNewEntry()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add Entry
        </button>
      </section>
    </section>
  </section>
</section>
