#timesheetContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  #timesheetRibbon {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    md-select { width: 400px; }

  }
  #timecardBody {
    padding: 10px;
    .project-name {
      font-size: 16px;
      font-weight: 500;
    }
    .entry-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .entry-description {
        font-size: 16px;
        font-weight: 200;
        color: gray;
        width: 75%;
        margin-bottom: 0;
      }
      .entry-info-right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 25%;
        .entry-time {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
    .timecard-actions {
      text-align: right;
    }
  }
}
