#test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  #attempt {
    background-color: yellow;
    font-size: 14.1px;
  }
  #raw {
    background-color: gray;
  }
  margin-bottom: 100px;
}
