#mlbTeamStatsContainer {
  display: none;
  .mlb-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #teamCardsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .team-card-container {
      .team-card-container-inner {
        margin: 5px;
        padding: 5px;
        border: 1px solid lightgray;
        transition: border 300ms;
        h5 {
          margin: 0;
          font-weight: 400;
        }
        hr {
          margin: 4px 0;
        }
        .stats-container {
          display: flex;
          flex-wrap: wrap;
          margin-left: 5px;
          border-left: 4px solid #1E2933;
          transition: border 300ms;
        }
        .accolade-container {
          height: 29px;
        }
      }
      .team-card-container-inner:hover {
        cursor: pointer;
        border: 1px solid midnightblue;
        .stats-container {
          border-left: 4px solid midnightblue;
        }
      }

    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .team-card-container {
    .team-card-container-inner {
      h5 {
        font-size: 16px;
      }
      .stats-container {
        font-size: 13px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .team-card-container {
    .team-card-container-inner {
      h5 {
        font-size: 18px;
      }
      .stats-container {
        font-size: 14px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
