<div id="mlbTeamStatsContainer">
  <div class="mlb-slider">
    <md-slider class="col-xl-6" min="1871" max="2016" [value]="selectedYear" [thumbLabel]="true" (change)="yearSelected($event)"></md-slider>
  </div>
  <div id="mlbTeamChartContainer"></div>
  <div id="teamCardsContainer">
    <div class="col-xl-4 team-card-container" *ngFor="let team of teams">
      <div class="team-card-container-inner rounded" (click)="goToTeam(team)">
        <h5>{{team.name}}</h5>
        <small class="text-muted">
          {{team.park}}
        </small>
        <hr />
        <div class="stats-container">
          <small class="text-muted col-xl-6 col-6">Wins: {{team.W}}</small>
          <small class="text-muted col-xl-6 col-6">Losses: {{team.L}}</small>
          <small class="text-muted col-xl-6 col-6">Runs: {{team.R}}</small>
          <small class="text-muted col-xl-6 col-6">At Bats: {{team.AB}}</small>
          <small class="text-muted col-xl-6 col-6">Double Plays: {{team['2B']}}</small>
          <small class="text-muted col-xl-6 col-6">Triple Plays: {{team['3B']}}</small>
          <small class="text-muted col-xl-6 col-6">Homeruns: {{team.HR}}</small>
          <small class="text-muted col-xl-6 col-6">ERA: {{team.ERA}}</small>
        </div>
        <div class="accolade-container">
          <hr/>
          <span class="badge badge-primary" [hidden]="team.WSWin !== 'Y'">World Series Win</span>
          <span class="badge badge-primary" [hidden]="team.LgWin !== 'Y'">League Win</span>
          <span class="badge badge-primary" [hidden]="team.WCWin !== 'Y'">Wild Card Win</span>
          <span class="badge badge-primary" [hidden]="team.DivWin !== 'Y'">Division Win</span>
        </div>
      </div>
    </div>
  </div>
</div>



