@import '../../../../globals';


#contactFormDialog {
  height:90%;
  .dialog-header {
    font-weight: 300;
  }
  .dialog-body {
    form {
      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-gap: 5px;
    }
    #ckContainer, .ck-editor__editable {
      min-height: 400px;
    }
  }
  .button-container {
    text-align: right;
  }
}
