<section id="contactFormDialog">
  <div class="dialog-header">
    <h4>Contact Form</h4>
    <hr />
  </div>
  <div class="dialog-body">
    <div class="row">
      <mat-input-container>
        <input matInput placeholder="From" [(ngModel)]="mailMessage.from" />
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Subject" [(ngModel)]="mailMessage.subject" />
      </mat-input-container>
    </div>
    <div class="row">
      <mat-input-container>
        <textarea matInput placeholder="Message" rows="4" [(ngModel)]="mailMessage.message"></textarea>
      </mat-input-container>
    </div>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="sendEmail()">Send</button>
    <button mat-raised-button (click)="cancel()">Close</button>
  </div>
</section>
