<section id="contactFormDialog">
  <div class="dialog-header">
    <h1 class="mat-h1">Contact Form</h1>
    <hr />
  </div>
  <div class="dialog-body">
    <form [formGroup]="contactForm">
      <mat-form-field>
        <input matInput placeholder="From" formControlName="from" />
        <!--<mat-error *ngIf="from.dirty && from.hasError('required')" class="mat-caption">Please enter a valid name.</mat-error>-->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Subject" formControlName="subject" />
        <!--<mat-error *ngIf="subject.dirty && subject.hasError('required')" class="mat-caption">Please enter a valid subject.</mat-error>-->
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Message" formControlName="message" rows="6"></textarea>
        <!--<mat-error *ngIf="message.dirty && message.hasError('required')" class="mat-caption">Please enter a valid message.</mat-error>-->
      </mat-form-field>
    </form>
  </div>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="sendEmail()">Send</button>
    <button mat-raised-button (click)="cancel()">Close</button>
  </div>
</section>
