#contactFormDialog {
  height:90%;
  .dialog-header {
    font-weight: 300;
  }
  .dialog-body {
    mat-input-container {
      width: 100%;
    }
    #ckContainer, .ck-editor__editable {
      min-height: 400px;
    }
  }
  .button-container {
    text-align: right;
  }
}
