
#portfolioContainer {
  margin-top: 55px;
  .jumbotron {
    text-align: center;
  }
  #appsContainer {

    .app-container {
      display: none;
      // height: 250px;
      float: left;
      margin-bottom: 25px;
      position: relative;
      cursor: pointer;

      .app-image-container {
        height: 100%;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
        }

      }
      .app-content-container {
        position: absolute;
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        .app-header {
          padding: 10px;
          width: 100%;
          h1 {
            // font-size: 2.7rem;
            float: right;
          }
        }
      }
    }
    .app-container:hover {
      .app-image-container {
        opacity: 0.9;
        img {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition: all 1s ease; /* Safari and Chrome */
          -moz-transition: all 1s ease; /* Firefox */
          -ms-transition: all 1s ease; /* IE 9 */
          -o-transition: all 1s ease; /* Opera */
          transition: all 1s ease;
        }
      }
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .jumbotron {
    .display-4 {
      font-size: 38px;
    }
    .lead {
      font-size: 18px;
    }
  }
  #appsContainer {
    height: 150px;
    .app-container {
      height: 150px;
      .app-content-container {
        .app-header {
          width: 100%;
          h1 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .jumbotron {
    .display-4 {
      font-size: 42px;
    }
    .lead {
      font-size: 20px;
    }
  }
  #appsContainer {
    height: 150px;
    .app-container {
      height: 150px;
      .app-content-container {
        .app-header {
          width: 100%;
          h1 {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    .display-4 {
      font-size: 42px;
    }
    .lead {
      font-size: 20px;
    }
  }
  #appsContainer {
    height: 200px;
    .app-container {
      height: 200px;
      .app-content-container {
        .app-header {
          width: 100%;
          h1 {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .jumbotron {
    .display-4 {
      font-size: 48px;
    }
    .lead {
      font-size: 22px;
    }
  }
  #appsContainer {
    height: 250px;
    .app-container {
      height: 250px;
      .app-content-container {
        .app-header {
          width: 100%;
          h1 {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .jumbotron {
    .display-4 {
      font-size: 48px;
    }
    .lead {
      font-size: 22px;
    }
  }
  #appsContainer {
    height: 250px;
    .app-container {
      height: 250px;
      .app-content-container {
        .app-header {
          width: 100%;
          h1 {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}
