#portfolioContainer {
  margin-top: 55px; }
  #portfolioContainer .jumbotron {
    text-align: center; }
  #portfolioContainer #appsContainer .app-container {
    display: none;
    float: left;
    margin-bottom: 25px;
    position: relative;
    cursor: pointer; }
    #portfolioContainer #appsContainer .app-container .app-image-container {
      height: 100%;
      overflow: hidden; }
      #portfolioContainer #appsContainer .app-container .app-image-container img {
        height: 100%;
        width: 100%; }
    #portfolioContainer #appsContainer .app-container .app-content-container {
      position: absolute;
      padding: 0px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      #portfolioContainer #appsContainer .app-container .app-content-container .app-header {
        padding: 10px;
        width: 100%; }
        #portfolioContainer #appsContainer .app-container .app-content-container .app-header h1 {
          float: right; }
      #portfolioContainer #appsContainer .app-container .app-content-container .app-footer {
        display: none;
        padding: 10px;
        height: 60px;
        background-color: #2f4050; }
  #portfolioContainer #appsContainer .app-container:hover .app-image-container {
    opacity: 0.9; }
    #portfolioContainer #appsContainer .app-container:hover .app-image-container img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 1s ease;
      /* Safari and Chrome */
      -moz-transition: all 1s ease;
      /* Firefox */
      -ms-transition: all 1s ease;
      /* IE 9 */
      -o-transition: all 1s ease;
      /* Opera */
      transition: all 1s ease; }

@media (max-width: 575px) {
  .jumbotron .display-4 {
    font-size: 38px; }
  .jumbotron .lead {
    font-size: 18px; }

  #appsContainer {
    height: 150px; }
    #appsContainer .app-container {
      height: 150px; }
      #appsContainer .app-container .app-content-container .app-header {
        width: 100%; }
        #appsContainer .app-container .app-content-container .app-header h1 {
          font-size: 1.5rem; } }
@media (min-width: 576px) {
  .jumbotron .display-4 {
    font-size: 42px; }
  .jumbotron .lead {
    font-size: 20px; }

  #appsContainer {
    height: 150px; }
    #appsContainer .app-container {
      height: 150px; }
      #appsContainer .app-container .app-content-container .app-header {
        width: 100%; }
        #appsContainer .app-container .app-content-container .app-header h1 {
          font-size: 1.7rem; } }
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron .display-4 {
    font-size: 42px; }
  .jumbotron .lead {
    font-size: 20px; }

  #appsContainer {
    height: 200px; }
    #appsContainer .app-container {
      height: 200px; }
      #appsContainer .app-container .app-content-container .app-header {
        width: 100%; }
        #appsContainer .app-container .app-content-container .app-header h1 {
          font-size: 1.9rem; } }
@media (min-width: 992px) {
  .jumbotron .display-4 {
    font-size: 48px; }
  .jumbotron .lead {
    font-size: 22px; }

  #appsContainer {
    height: 250px; }
    #appsContainer .app-container {
      height: 250px; }
      #appsContainer .app-container .app-content-container .app-header {
        width: 100%; }
        #appsContainer .app-container .app-content-container .app-header h1 {
          font-size: 1.9rem; } }
@media (min-width: 1200px) {
  .jumbotron .display-4 {
    font-size: 48px; }
  .jumbotron .lead {
    font-size: 22px; }

  #appsContainer {
    height: 250px; }
    #appsContainer .app-container {
      height: 250px; }
      #appsContainer .app-container .app-content-container .app-header {
        width: 100%; }
        #appsContainer .app-container .app-content-container .app-header h1 {
          font-size: 1.9rem; } }

/*# sourceMappingURL=portfolio.component.css.map */
