<div id="portfolioContainer">
  <section id="cardsContainer">
    <md-tab-group>
      <md-tab label="API's">
        <div class="card-container" routerLink="/mlbstatsapi">
          <div class="image-container">
            <img src="../../../images/cruzswing.jpg" />
          </div>
          <div class="card-mask">
          </div>
          <div class="card-content">
            <h5>MLB API</h5>
          </div>
        </div>
      </md-tab>
      <md-tab label="Sports">
        Sports...
      </md-tab>
      <md-tab label="All">
        All...
      </md-tab>
    </md-tab-group>
  </section>
</div>
