#portfolioContainer {
  #cardsContainer {
    width:100%;
    .tab-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card-container {
        position: relative;
        //width: 33.3%;
        margin: 10px;
        .image-container {
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            transition: all 200ms;
          }
        }
        .card-mask, .card-content {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
        }
        .card-mask {
          background-color: black;
          opacity: .3;
        }
        .card-content {
          color: white;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          padding: 10px;
          .content-container {
            text-align: left;
            h5 {
              font-weight: 300;
              text-transform: uppercase;
              transform: translateY(40px);
            }
            .card-description {
              font-size: 90%;
              opacity: 0;
            }

          }
        }
      }
      .card-container:hover {
        cursor: pointer;
        img {
          transform: scale(1.1);
        }
        h5 {
          animation: slideTitleUp 500ms 100ms ease-in-out forwards;
        }
        .card-description {
          animation: showDescription 500ms 200ms ease-in-out forwards;
        }
      }
    }
  }
}

// <editor-fold desc="Animations">

@keyframes slideTitleUp {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes showDescription {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// </editor-fold>


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .card-container {
    width: 80%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-container {
    width: 33.3%;
  }
}
