#portfolioContainer {
  #cardsContainer {
    width:100%;
    .card-container {
      position: relative;
      width: 33.3%;
      margin: 10px;
      .image-container {
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          transition: all 200ms;
        }
      }
      .card-mask, .card-content {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
      }
      .card-mask {
        background-color: black;
        opacity: .3;
      }
      .card-mask:hover {
        transform: scale(1.1);
      }
      .card-content {
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 10px;
        h5 {
          font-weight: 300;
        }
      }
    }
    .card-container:hover {
      cursor: pointer;
      img {
        transform: scale(1.1);
      }
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
