<div id="portfolioContainer">
  <div class="jumbotron">
    <h1 class="display-4">Porfolio</h1>
    <p class="lead">Applications, utilities and examples built by me</p>
  </div>
  <div id="appsContainer" class="container">
    <!--<button type="button" (click)="test()">Test</button>-->
    <div class="app-container rounded col-xl-4 col-lg-6 col-md-6 col-6" *ngFor="let app of apps" routerLink="{{app.url}}">
      <div class="app-image-container">
        <img src="{{app.image}}" />
      </div>
      <div class="app-content-container">
        <div class="app-header">
          <h1 class="display-4">{{app.name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
