<div id="portfolioContainer">
  <section id="cardsContainer">
    <md-tab-group>
      <md-tab label="API's">
        <div class="tab-container">
          <div class="card-container" routerLink="/mlbstatsapi">
            <div class="image-container">
              <img src="../../../images/cruzswing.jpg" />
            </div>
            <div class="card-mask">
            </div>
            <div class="card-content">
              <div class="content-container">
                <h5>MLB API</h5>
                <div class="card-description">
                  <small>
                    REST API based on Chadwick Bureau's Baseball Databank and the MLB Advanced Media API.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-tab>
      <md-tab label="Sports" class="tab-container">
        <div class="tab-container">
          <div class="card-container" routerLink="/mlbstatsapi">
            <div class="image-container">
              <img src="../../../images/handshakes.jpg" />
            </div>
            <div class="card-mask">
            </div>
            <div class="card-content">
              <div class="content-container">
                <h5>MLB Stats Visualizer</h5>
                <div class="card-description">
                  <small>
                    Leveraging the MLB API, expore stats from teams, players, and ballparks.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-tab>
      <md-tab label="All" class="tab-container">
        <div class="tab-container">
          <div class="card-container" routerLink="/mlbstatsapi">
            <div class="image-container">
              <img src="../../../images/cruzswing.jpg" />
            </div>
            <div class="card-mask">
            </div>
            <div class="card-content">
              <div class="content-container">
                <h5>MLB API</h5>
                <div class="card-description">
                  <small>
                    REST API based on Chadwick Bureau's Baseball Databank and the MLB Advanced Media API.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-container" routerLink="/mlbstats">
            <div class="image-container">
              <img src="../../../images/handshakes.jpg" />
            </div>
            <div class="card-mask">
            </div>
            <div class="card-content">
              <div class="content-container">
                <h5>MLB Stats Visualizer</h5>
                <div class="card-description">
                  <small>
                    Leveraging the MLB API, expore stats from teams, players, and ballparks.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-container" routerLink="/powerball">
            <div class="image-container">
              <img src="../../../images/blue-angels.jpg" />
            </div>
            <div class="card-mask">
            </div>
            <div class="card-content">
              <div class="content-container">
                <h5>Powerball Visualizer</h5>
                <div class="card-description">
                  <small>
                    Not sure where to go with this one quite yet. I would like to do something
                    with Machine Learning...
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </section>
</div>
