#addEntryDialogContainer {
  .dialog-header {
    font-weight: 400;
  }
  .input-section {
    padding: 10px 0;
    md-input-container, md-select {
      width: 100%;
    }
    md-select {
      padding: 7px 0;
    }
  }
}
