<section id="addEntryDialogContainer">
  <div class="dialog-header">
    <h4>New Entry</h4>
    <hr />
  </div>
  <div class="input-section">
    <md-select placeholder="Company" [(ngModel)]="selectedCompany" (change)="onCompanyChange()">
      <md-option *ngFor="let company of companies" [value]="company">{{company.name}}</md-option>
    </md-select>
  </div>
  <div class="input-section">
    <md-select placeholder="Project" [(ngModel)]="entry.project">
      <md-option *ngFor="let project of projects" [value]="project">{{project.name}}</md-option>
    </md-select>
  </div>
  <div class="input-section">
    <md-form-field>
      <input mdInput [mdDatepicker]="picker" placeholder="Date" [(ngModel)]="entry.date" />
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field>
  </div>
  <div class="input-section">
    <md-input-container>
      <input type="number" mdInput placeholder="Time Spent" [(ngModel)]="entry.timeSpent" />
    </md-input-container>
  </div>
  <div class="input-section">
    <md-input-container>
      <textarea mdInput placeholder="Description" rows="3" [(ngModel)]="entry.description"></textarea>
    </md-input-container>
  </div>
  <div class="button-container">
    <button md-raised-button (click)="closeDialog()">Add</button>
    <button md-raised-button (click)="cancel()">Cancel</button>
  </div>
</section>
