@import '../../mixins/mq-mixins';

$ngBoxShadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$white: #fff;
$blue: #3f51b5;
$pink: #ff4081;

#timeline {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  #eventsLeft {
    width: 45%;
    flex-grow: 1;
    .event-container-wrapper {
      opacity: 0;
      &.load {
        animation: loadEventsLeft 600ms ease-in-out 400ms forwards;
      }
      .event-container {
        position: relative;
        background-color: $white;
        box-shadow: $ngBoxShadow;
        margin-right: 30px;
        margin-bottom: 30px;
        border-top: 5px solid $blue;
        z-index: -1;
        .content-container {
          height: 100%;
          background-color: $white;
          padding: 10px;
          h4 { font-weight: 400; }
          small { font-weight: 300; }
          p {
            line-height: 1.5;
            font-weight: 300;
          }
        }
        .arrow {
          position: absolute;
          top: 20px;
          right: 0;
          height: 70px;
          width: 50px;
          transform: rotate(-45deg);
          background-color: $white;
          box-shadow: $ngBoxShadow;
          z-index: -1;
          .dot {
            height: 10px;
            width: 10px;
            border-radius: 100px;
            background-color: $pink;
            position: absolute;
            bottom: -16px;
            right: -15px;
            z-index: -2;
            opacity: 0;
            &.load {
              animation: loadDots 600ms ease-in-out 800ms forwards;
            }
          }
        }
      }
    }
  }
  #bar {
    width: 5px;
    border-radius: 10px;
    z-index: -2;
    background-color: transparent;
    height: 0;
    opacity: 0.5;
    &.load {
      animation: loadBar 400ms ease-in-out 100ms forwards;
    }
  }
  #eventsRight {
    width: 45%;
    flex-grow: 1;
    .event-container-wrapper {
      float: right;
      opacity: 0;
      &.load {
        animation: loadEventsRight 600ms ease-in-out 400ms forwards;
      }
      .event-container {
        position: relative;
        background-color: $white;
        box-shadow: $ngBoxShadow;
        margin-left: 30px;
        margin-top: 30px;
        float: right;
        border-top: 5px solid $blue;
        z-index: -1;
        .content-container {
          height: 100%;
          background-color: $white;
          padding: 10px;
          h4 { font-weight: 400; }
          small { font-weight: 300 }
          p {
            line-height: 1.5;
            font-weight: 300;
          }
        }
        .arrow {
          position: absolute;
          top: 20px;
          left: 0;
          height: 70px;
          width: 50px;
          transform: rotate(45deg);
          background-color: $white;
          box-shadow: $ngBoxShadow;
          z-index: -1;
          .dot {
            height: 10px;
            width: 10px;
            border-radius: 100px;
            background-color: #ff4081;
            position: absolute;
            bottom: -16px;
            left: -15px;
            z-index: -2;
            opacity: 0;
            &.load {
              animation: loadDots 600ms ease-in-out 800ms forwards;
            }
          }
        }
      }
    }
  }
}

// <editor-fold desc="Animations">

@keyframes loadBar {
  0% {
    background-color: transparent;
    height: 0;
  }
  100% {
    background-color: $blue;
    height: auto;
  }
}

@keyframes loadEventsLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes loadEventsRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes loadDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// </editor-fold>
// <editor-fold desc="Media Queries">

@include extra-small {
  .content-container {
    h4 { font-size: 100%;}
    p { font-size: 12px; }
  }
}

@include small {
  .content-container {
    h4 { font-size: 100%;}

  }
}

@include medium {
  .content-container {
    h4 { font-size: 90%; }

  }
}

@include large {
  .content-container {
    h4 { font-size: 130%; }

  }
}

@include extra-large {
  .content-container {
    h4 { font-size: 135%; }
  }
}



// </editor-fold>
