<section id="timeline">
  <div id="eventsLeft">
    <div class="event-container-wrapper" [class.load]="inView">
      <div class="event-container">
        <div class="content-container">
          <h4>Headset</h4>
          <small>2017 - Present</small>
          <hr />
          <p>
            <a href="http://headset.io/" target="_blank">Headset.io</a>
          </p>
        </div>
        <div class="arrow">
          <div class="dot" [class.load]="inView"></div>
        </div>
      </div>
    </div>
    <div class="event-container-wrapper" [class.load]="inView">
      <div class="event-container">
        <div class="content-container">
          <h4>BluLink</h4>
          <small>2016 - 2017</small>
          <hr />
          <p>
            As a Front End Developer at BluLink Solutions, I worked with a team of project managers
            and designers to help understand customer requirements and build out custom solutions and
            applications. While building these applications, I would primarily work with JavaScript,
            HTML and CSS using libraries/frameworks such as AngularJS, jQuery, and Bootstrap.
          </p>
        </div>
        <div class="arrow">
          <div class="dot" [class.load]="inView"></div>
        </div>
      </div>
    </div>
    <div class="event-container-wrapper" [class.load]="inView">
      <div class="event-container">
        <div class="content-container">
          <h4>Winshuttle</h4>
          <small>2012 - 2016</small>
          <hr />
          <p>
            As a Software Developer at Winshuttle, I worked on two separate products that were
            shipped to large enterprise organizations that helped automate processes that drove
            day to day business operations. In addition to development efforts, I also worked with
            external customers to help understand use cases, train and mentor as well as go on site
            (internationally and nationally) to help troubleshoot issues/develop custom solutions.
          </p>
        </div>
        <div class="arrow">
          <div class="dot" [class.load]="inView"></div>
        </div>
      </div>
    </div>
    <div class="event-container-wrapper" [class.load]="inView">
      <div class="event-container">
        <div class="content-container">
          <h4>United States Marine Corps</h4>
          <small>2006 - 2014</small>
          <hr />
          <p>
            While serving as an Infantry Squad Leader, I was directly responsible for the training,
            welfare, and readiness of 6 Marines. I was in charge of directing indirect fire onto
            targets with speed and accuracy to assist adjacent units during combat operations and
            training exercises. While on active duty, I served overseas on 2 separate deployments
            with service in 7 different countries.
          </p>
        </div>
        <div class="arrow">
          <div class="dot" [class.load]="inView"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="bar" [class.load]="inView"></div>
  <div id="eventsRight">
    <div class="event-container-wrapper" [class.load]="inView">
      <div class="event-container">
        <div class="content-container">
          <h4>UW Medicine</h4>
          <small>2016 - 2017</small>
          <hr />
          <p>
            At UW Medicine, I was responsible for maintaining the <a href="http://uwmedicine.org">public web site</a>
            as well as supporting critical business applications that support many different departments
            within the University of Washington. I work on a team of business analysts, designers, QA Engineers
            and developers to interface with end users and develop impactful applications and software.
          </p>
        </div>
        <div class="arrow">
          <div class="dot" [class.load]="inView"></div>
        </div>
      </div>
    </div>
    <div class="event-container-wrapper" [class.load]="inView">
      <div class="event-container">
        <div class="content-container">
          <h4>Marc Wilson Consulting, LLC</h4>
          <small>2015 - Present</small>
          <hr />
          <p>
            At Marc Wilson Consulting, LLC, I work with external clients and businesses to develop
            custom software and applications that address day-to-day business problems. I provide
            a wide range of services such as consulting, writing middleware to connect with 3rd
            party software and also have developed full-fledged business applications.
          </p>
        </div>
        <div class="arrow">
          <div class="dot" [class.load]="inView"></div>
        </div>
      </div>
    </div>
    <div class="event-container-wrapper" [class.load]="inView">
      <div class="event-container">
        <div class="content-container">
          <h4>Government Contractor</h4>
          <small>2010 - 2012</small>
          <hr />
          <p>
            As a Government Contractor assigned to a project for the US Military, I was responsible
            for administering the quality and accuracy of classified and unclassified documents that
            were used for service members to better research a wide range of subjects such as mission
            planning, lessons learned, reports and other documentation. I was also responsible for
            automating processes within SharePoint using ASP.NET, C#, HTML, CSS and JavaScript.
          </p>
        </div>
        <div class="arrow">
          <div class="dot" [class.load]="inView"></div>
        </div>
      </div>
    </div>
  </div>
</section>
