#timeline {
  .timeline-container {
    .event {
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
      position: relative;
      height: 100px;
      width: 300px;

      .content {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: #FFF;
      }
      .arrow {
        position: absolute;
        background-color: white;
        height: 50px;
        width: 50px;
        right: 0;
        top: 30%;
        transform: rotate(45deg);
        z-index: 0;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
      }
    }
  }
}
