<section id="timeline">
  <div id="eventsLeft">
    <div class="event-container">
      <div>
        <h5>Headset</h5>
        <p>
          At Headset, I'm on a small team of developers that maintain Bridge, Retailer and Insights which are
          the three core products of Headset. I am directly responsible for adding additional features, fixing
          bugs and overall maintenance of the products which are widely used in the business intelligence/retail space.
        </p>
      </div>
      <div class="arrow">
      </div>
    </div>
  </div>
  <div id="bar"></div>
  <div id="eventsRight">
    <div class="event-container">
      <div>
        <h5>UW Medicine</h5>
        <p>
          At UW Medicine, I was responsible for maintaining the <a href="http://uwmedicine.org">public web site</a>
          as well as supporting critical business applications that support many different departments
          within the University of Washington. I work on a team of business analysts, designers, QA Engineers
          and developers to interface with end users and develop impactful applications and software.
        </p>
      </div>
      <div class="arrow"></div>
    </div>
  </div>
</section>
