#timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  #eventsLeft {
    width: 45%;
    background-color: green;
    .event-container {
      position: relative;
      padding: 10px;
      .arrow {
        position: absolute;
        top: 20px;
        right: 0;
        height: 70px;
        width: 50px;
        transform: rotate(45deg);
        background-color: green;
        z-index: -1;
      }
    }
  }
  #bar {
    height: 200px;
    width: 5px;
    background-color: red;
  }
  #eventsRight {
    width: 45%;
    background-color: yellow;
    .event-container {
      position: relative;
      padding: 10px;
      .arrow {
        position: absolute;
        top: 20px;
        left: 0;
        height: 70px;
        width: 50px;
        transform: rotate(45deg);
        background-color: yellow;
        z-index: -1;
      }
    }
  }
}

