<section id="timeline">
  <div id="bar" [class.load-bar]="inView === true"></div>
  <div class="timeline-container">
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/angular_whiteTransparent.svg" />
        </div>
        <div class="body-container">
          <h5>Angular</h5>
          <small>3 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/bootstrap-solid.svg" />
        </div>
        <div class="body-container">
          <h5>Bootstrap</h5>
          <small>3 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/typescript.svg" />
        </div>
        <div class="body-container">
          <h5>TypeScript</h5>
          <small>2 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/bootstrap-solid.svg" />
        </div>
        <div class="body-container">
          <h5>jQuery</h5>
          <small>6 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/typescript.svg" />
        </div>
        <div class="body-container">
          <h5>MongoDB</h5>
          <small>2 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/bootstrap-solid.svg" />
        </div>
        <div class="body-container">
          <h5>SQL</h5>
          <small>4 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/typescript.svg" />
        </div>
        <div class="body-container">
          <h5>Sass/SCSS</h5>
          <small>2 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/bootstrap-solid.svg" />
        </div>
        <div class="body-container">
          <h5>Node</h5>
          <small>2 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/typescript.svg" />
        </div>
        <div class="body-container">
          <h5>Font Awesome</h5>
          <small>3 Years</small>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
  </div>
</section>
