<section id="timeline">
  <div id="bar" [class.load-bar]="inView === true"></div>
  <div class="timeline-container">
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/angular_whiteTransparent.svg" />
        </div>
        <div class="body-container">
          <h5>Angular</h5>
          <small>3 Years</small>
          <hr />
          <p>
            I have been working with Angular for about 3 years now. I started working with version 1.x but
            quickly moved to Angular v2 when it was released in September 2016. Ever since then, Angular
            has been my go-to framework for large applications.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/bootstrap-solid.svg" />
        </div>
        <div class="body-container">
          <h5>Bootstrap</h5>
          <small>3 Years</small>
          <hr />
          <p>
            Bootstrap has been a solid go-to ui-framework for me with it's ease of use and ability to
            standup a quick response and stylish website in a quick manner. I started with Bootstrap v3
            and have been playing around with Bootstrap4 since it's Alpha release.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/typescript.svg" />
        </div>
        <div class="body-container">
          <h5>TypeScript</h5>
          <small>2 Years</small>
          <hr />
          <p>
            I started working with TypeScript about 2 years ago when when ES6 started to become more widely
            used. I like TypeScript due it's ability to use all the latest and greatest JavaScript features
            without the need of having to worry which browsers are going to support it. It's simply 'JavaScript
            that Scales.' It's a great tool for the toolbox when you want to keep up with the latest things
            that are happening in JavaScript but still need to support older browsers such as IE.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/JQuery_logo.svg" />
        </div>
        <div class="body-container">
          <h5>jQuery</h5>
          <small>6 Years</small>
          <hr />
          <p>
            jQuery has been a very big asset throughout my career (especially in the earlier days) as I built
            out web applications. jQuery's ability to quickly and easily manipulate the DOM and make things
            come to life with animation is invaluable. Now, with major frameworks such as Angular and React,
            I have found myself using jQuery less and less. It's still a great library to have in your back
            pocket when I'm developing something that doesn't warrant the need for a giant framework such as
            Angular or React.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/MongoDB-Logo.svg" />
        </div>
        <div class="body-container">
          <h5>MongoDB</h5>
          <small>2 Years</small>
          <hr />
          <p>
            When I started picking up Angular, I was very interested in the stack that came with it (the MEAN
            Stack). As a front end developer, I found MongoDB much easier to work with over SQL given it's
            document based storage over SQL's relation database style. Currently, I have no gotten to use MongoDB
            professionally yet as most people are seem to be sticking with SQL. I do, however use MongoDB as the
            main Database of this site.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/microsoft-sql-server.svg" />
        </div>
        <div class="body-container">
          <h5>SQL</h5>
          <small>4 Years</small>
          <hr />
          <p>
            SQL has been a go-to database for me in my professional career as most organisations use heavily.
            SQL is extremely easy to work with in the context of C# and developing endpoints that can be consumed
            by JavaScript to execute CRUD operations have been a go-to approach when needing a place to store
            data in a web based application.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/Sass_Logo_Color.svg" />
        </div>
        <div class="body-container">
          <h5>Sass/SCSS</h5>
          <small>2 Years</small>
          <hr />
          <p>
            I have been working with SCSS for about 3 years now. I started out not being much of a fan of CSS
            given it's lack of organization. SCSS solved that problem for me and is complimented well with it's
            ability to leverage mixins, nested structures, variables and many other things.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
    <div class="event event-left" [class.load-event-left]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/Node.js_logo_2015.svg" />
        </div>
        <div class="body-container">
          <h5>Node</h5>
          <small>2 Years</small>
          <hr />
          <p>
            I have been working with Node for about 3 years now. I began a personal mission to switch all of my
            personal project (such as this site) to shift away from C# and to get everything on one language;
            JavaScript. I use Node to develop resutful API's and act as a middle tier/backend to communicate
            with MongoDB and serve my web application.
          </p>
        </div>
      </div>
      <div class="arrow arrow-left"></div>
      <div class="dot dot-left"></div>
    </div>
    <div class="event event-right" [class.load-event-right]="inView === true">
      <div class="content">
        <div class="header-container">
          <img src="../../../images/typescript.svg" />
        </div>
        <div class="body-container">
          <h5>Font Awesome</h5>
          <small>3 Years</small>
          <hr />
          <p>
            Much like Bootstrap, I have been using Font Awesome as my go-to tool for icons. Font Awesome
            has been an invaluable tool for spinning up quick websites and getting awesome icons without
            having to do any work at all, really. I use font-awesome in almost everything I do and have
            relied on it heavily when I don't have a designer to provide me with icons.
          </p>
        </div>
      </div>
      <div class="arrow arrow-right"></div>
      <div class="dot dot-right"></div>
    </div>
  </div>
</section>
