<!-- Modal -->
<div class="modal fade" id="dlgBeerInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{beer.name}}</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="beer.info.hasInfo === false" class="beer-info-dialog-content-without-info">
          <div id="noInfoContainer" [hidden]="searchResults.results.length > 0">
            <p><i>Search for Info...</i></p>
            <button type="button" class="btn btn-primary" (click)="getUntappdInfo(beer)">Search Untappd</button>
          </div>
          <div id="resultsContainer" [hidden]="searchResults.results.length === 0">
            <div id="results">
              <div *ngFor="let result of searchResults.results[searchResults.activePage]" class="result-container">
                <div class="card">
                  <div class="card-header">
                    <div class="header-container">
                      <div class="header-content">
                        <div>
                          <img src="{{result.info.beer_label}}" />
                        </div>
                        <div class="header-text">
                          <div class="beer-name">{{result.info.beer_name}}</div>
                          <div class="brewery-name">{{result.info.brewery.brewery_name}}</div>
                        </div>
                      </div>
                      <div class="card-expander" (click)="toggleResult($event)">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card-block">
                    <p>{{result.info.beer_description}}</p>
                    <button type="button" class="btn btn-primary pull-right" (click)="addUntappdInfo(beer, result.info)">Add Info</button>
                  </div>
                </div>
              </div>
              <div id="prevNextContainer">
                <button type="button" class="btn btn-primary" (click)="previousPage()">Previous</button>
                <div id="pageCount">
                  Page {{searchResults.activePage + 1}} of {{searchResults.results.length}}
                </div>
                <button type="button" class="btn btn-primary" (click)="nextPage()">Next</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="beer.info.hasInfo === true" class="beer-info-dialog-content-with-info">
          <div id="beerHeaderInfo">
            <div id="beerLabel">
              <img src="{{beer.info.beer_label}}" />
            </div>
            <div>
              <div>Name: {{beer.name}}</div>
              <div>Type: {{beer.type}}</div>
              <div>ABV: {{beer.info.beer_abv}}%</div>
              <div>IBU: {{beer.info.beer_ibu}}</div>
            </div>
          </div>
          <div id="beerDetailInfo" [class.height-auto]="readMoreExpanded === true">
            <div>{{beer.info.beer_description}}</div>
            <div id="readMoreDiv" [hidden]="readMoreExpanded === true"><span (click)="showFullDetails($event)">Read More +</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
