#aboutContainer {
  margin-top: 55px;
  #header {
    width: 100%;
    .jumbotron {
      color: white;
      background-image: url('../../../images/pilchuck.jpg');
      background-size: cover;
      text-align: center;
    }
    #imageContainer {
      width: 100%;
      border-radius: 100px;
      text-align: center;
      img {
        border-radius: 100px;
        border: 3px solid gray;
        display: none;
      }
    }
  }
  #body {
    .content-row-outter {
      margin: 10px 0 10px 0;
      .content-row {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-left: none;
        .image-container {
          //min-height: 150px;
          //min-width: 150px;
          img {
            //height: 150px;
            //width: 150px;
            border-radius: 100px;
            border: 1px solid gray;
            display: none;
          }
        }
        .content-container {
          // padding-left: 25px;
          display: none;
          h3 {
            font-weight: 400;
          }
        }
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #header {
    .jumbotron {
      .display-4 {
        font-size: 24px;
      }
      .lead {
        font-size: 16px;
      }
    }
    #imageContainer {
      margin-top: -70px;
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
  #body {
    .content-row-outter {
      margin: 10px 0 10px 0;
      .content-row {

        .image-container {
          min-height: 60px;
          min-width: 60px;
          img {
            height: 60px;
            width: 60px;
          }
        }
        .content-container {
          padding-left: 15px;
          h3 {
            font-weight: 400;
            font-size: 16px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #header {
    .jumbotron {
      .display-4 {
        font-size: 26px;
      }
      .lead {
        font-size: 18px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 110px;
        width: 110px;
      }
    }
  }
  #body {
    .content-row-outter {
      margin: 10px 0 10px 0;
      .content-row {

        .image-container {
          min-height: 70px;
          min-width: 70px;
          img {
            height: 70px;
            width: 70px;
          }
        }
        .content-container {
          padding-left: 15px;
          h3 {
            font-weight: 400;
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #header {
    .jumbotron {
      .display-4 {
        font-size: 28px;
      }
      .lead {
        font-size: 20px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 120px;
        width: 120px;
      }
    }
  }
  #body {
    .content-row-outter {
      margin: 10px 0 10px 0;
      .content-row {

        .image-container {
          min-height: 90px;
          min-width: 90px;
          img {
            height: 90px;
            width: 90px;
          }
        }
        .content-container {
          padding-left: 15px;
          h3 {
            font-weight: 400;
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #header {
    .jumbotron {
      .display-4 {
        font-size: 30px;
      }
      .lead {
        font-size: 22px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 130px;
        width: 130px;
      }
    }
  }
  #body {
    .content-row-outter {
      margin: 10px 0 10px 0;
      .content-row {

        .image-container {
          min-height: 110px;
          min-width: 110px;
          img {
            height: 110px;
            width: 110px;
          }
        }
        .content-container {
          padding-left: 15px;
          h3 {
            font-weight: 400;
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header {
    .jumbotron {
      .display-4 {
        font-size: 34px;
      }
      .lead {
        font-size: 26px;
      }
    }
    #imageContainer {
      margin-top: -90px;
      img {
        height: 130px;
        width: 130px;
      }
    }
  }
  #body {
    .content-row-outter {
      margin: 10px 0 10px 0;
      .content-row {

        .image-container {
          min-height: 120px;
          min-width: 120px;
          img {
            height: 120px;
            width: 120px;
          }
        }
        .content-container {
          padding-left: 15px;
          h3 {
            font-weight: 400;
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
