.cards-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  md-card {
    text-align: center;
    .image-container {
      padding: 10px 0;
      img {
        border-radius: 150px;
        height: 80px;
        width: 80px;
      }
    }
  }
}
.load-cards {
  animation: animateCard 500ms 100ms ease-in-out forwards;
}
.load-card-right {
  animation: animateCardRight 500ms 100ms ease-in-out forwards;
}
.load-card-left {
  animation: animateCardLeft 500ms 100ms ease-in-out forwards;
}
// <editor-fold desc="Animations">

@keyframes animateCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animateCardLeft {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animateCardRight {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

// </editor-fold>


// <editor-fold desc="Media Queries">

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .cards-container {
    flex-direction: column;
    md-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-container {
    flex-direction: column;
    md-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .cards-container {
    flex-direction: column;
    md-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-container {
    flex-direction: row;
    md-card {
      width: 30%;
      margin-bottom: 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-container {
    flex-direction: row;
    md-card {
      width: 30%;
      margin-bottom: 0;
    }
  }
}

// </editor-fold>

