<app-global-nav></app-global-nav>
<div id="aboutContainer">
  <div id="header">
    <div class="jumbotron">
      <h1 class="display-4">Marc Wilson</h1>
      <p class="lead">Seattle, Washington</p>
    </div>
    <div id="imageContainer">
      <img src="images/me.JPG" class="img-circle"/>
    </div>
  </div>
  <div id="socialMediaContainer">
    <div class="social-media-container">
      <div class="icon-container" (click)="navigate('https://www.linkedin.com/in/marc-wilson-43675750/')">
        <div class="social-media-icon linkedIn">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
      </div>
      <div class="icon-container" (click)="navigate('https://www.facebook.com/mswilson4040')">
        <div class="social-media-icon facebook">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
      <div class="icon-container" (click)="navigate('https://github.com/mswilson4040')">
        <div class="social-media-icon github">
          <i class="fa fa-git" aria-hidden="true"></i>
        </div>
      </div>
      <div class="icon-container" (click)="navigate('https://stackoverflow.com/users/2415802/mwilson')">
        <div class="social-media-icon stackoverflow">
          <i class="fa fa-stack-overflow" aria-hidden="true"></i>
        </div>
      </div>
      <div class="icon-container" (click)="navigate('https://twitter.com/Mswilson4040')">
        <div class="social-media-icon twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
      <div class="icon-container" (click)="navigate('mailto:mwilson@marcswilson.com')">
        <div class="social-media-icon mail">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div id="body" class="container">
    <div class="row info-cards">
      <div class="col-lg-4 info-card life">
        <img class="rounded-circle" src="images/marineme.jpg" alt="Generic placeholder image" width="140" height="140">
        <div class="display-4">Life</div>
        <hr />
        <p class="text-muted">
          I grew up in Lawrence, Kansas and moved to Seattle, Washington in 2012. Somewhere  in between there,
          I served in the United States Marine Corps with two overseas deployments, pursued my childhood dream of becoming a
          Software Developer and traveled to roughly 9 different Countries. I'm a huge Seahawks and Mariners fan
          and enjoy snowboarding, hiking, golf, city life, and writing code.
        </p>
      </div>
      <div class="col-lg-4 info-card what-i-do">
        <img class="rounded-circle" src="images/pikeplace.JPG" alt="Generic placeholder image" width="140" height="140">
        <div class="display-4">What I Do</div>
        <hr />
        <p class="text-muted">
          I do many things. First and foremost, I love developing and building things. I
          have taken a high interest in working with the MEAN Stack (MongoDB, Express, Angular, and Node)
          and other modern front-end technologies. I spend a lot of my free time freelancing or working on
          side projects such as this website. When I'm not having fun writing code and learning new things, you
          can find me at a Seattle Mariners game, wondering around downtown Seattle taking in all it's offerings,
          or taking my dog (Rylee) on adventures.
        </p>
      </div>
      <div class="col-lg-4 info-card career">
        <img class="rounded-circle" src="images/professionalme.jpg" alt="Generic placeholder image" width="140" height="140">
        <div class="display-4">Career</div>
        <hr />
        <p class="text-muted">
          Throughout my career, I have primarily worked with external customers to build custom
          applications and software. I have traveled nationally, and internationally, to deliver
          presentations and training, consulting, support and custom development. I started my
          career at an analyst level providing military knowledge to government projects and
          progressed into a rare breed in the workforce of a developer who loves customers,
          documentation and coding.
        </p>
      </div>
    </div>
  </div>
</div>
