#aboutContainer {
  margin-top: 55px; }
  #aboutContainer #header {
    width: 100%; }
    #aboutContainer #header .jumbotron {
      color: white;
      background-image: url("../../../images/pilchuck.jpg");
      background-size: cover;
      text-align: center; }
    #aboutContainer #header #imageContainer {
      width: 100%;
      border-radius: 100px;
      text-align: center; }
      #aboutContainer #header #imageContainer img {
        border-radius: 100px;
        border: 3px solid gray;
        display: none; }
  #aboutContainer #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #aboutContainer #body .content-row-outter .content-row {
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      border-left: none; }
      #aboutContainer #body .content-row-outter .content-row .image-container img {
        border-radius: 100px;
        border: 1px solid gray;
        display: none; }
      #aboutContainer #body .content-row-outter .content-row .content-container {
        display: none; }
        #aboutContainer #body .content-row-outter .content-row .content-container h3 {
          font-weight: 400; }

@media (max-width: 575px) {
  #header .jumbotron .display-4 {
    font-size: 24px; }
  #header .jumbotron .lead {
    font-size: 16px; }
  #header #imageContainer {
    margin-top: -70px; }
    #header #imageContainer img {
      height: 100px;
      width: 100px; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 60px;
      min-width: 60px; }
      #body .content-row-outter .content-row .image-container img {
        height: 60px;
        width: 60px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 16px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 12px; } }
@media (min-width: 576px) {
  #header .jumbotron .display-4 {
    font-size: 26px; }
  #header .jumbotron .lead {
    font-size: 18px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 110px;
      width: 110px; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 70px;
      min-width: 70px; }
      #body .content-row-outter .content-row .image-container img {
        height: 70px;
        width: 70px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 18px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 14px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #header .jumbotron .display-4 {
    font-size: 28px; }
  #header .jumbotron .lead {
    font-size: 20px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 120px;
      width: 120px; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 90px;
      min-width: 90px; }
      #body .content-row-outter .content-row .image-container img {
        height: 90px;
        width: 90px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 20px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 16px; } }
@media (min-width: 992px) {
  #header .jumbotron .display-4 {
    font-size: 30px; }
  #header .jumbotron .lead {
    font-size: 22px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 130px;
      width: 130px; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 110px;
      min-width: 110px; }
      #body .content-row-outter .content-row .image-container img {
        height: 110px;
        width: 110px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 20px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 16px; } }
@media (min-width: 1200px) {
  #header .jumbotron .display-4 {
    font-size: 34px; }
  #header .jumbotron .lead {
    font-size: 26px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 130px;
      width: 130px; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 120px;
      min-width: 120px; }
      #body .content-row-outter .content-row .image-container img {
        height: 120px;
        width: 120px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 20px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 16px; } }

/*# sourceMappingURL=about.component.css.map */
