#aboutContainer {
  margin-top: 55px; }
  #aboutContainer #header {
    width: 100%; }
    #aboutContainer #header .jumbotron {
      color: white;
      background-image: url("../../../images/pilchuck.jpg");
      background-size: cover;
      text-align: center; }
    #aboutContainer #header #imageContainer {
      width: 100%;
      border-radius: 100px;
      text-align: center; }
      #aboutContainer #header #imageContainer img {
        border-radius: 100px;
        border: 3px solid gray; }
  #aboutContainer #socialMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 60px; }
    #aboutContainer #socialMediaContainer .social-media-container {
      display: flex;
      justify-content: space-around;
      height: 60px; }
      #aboutContainer #socialMediaContainer .social-media-container .icon-container {
        height: 55px;
        width: 55px; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon {
          border: 1px solid transparent;
          border-radius: 50%;
          height: 55px;
          width: 55px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.linkedIn {
          opacity: 0;
          animation: fadeSocialMediaIcon 1000ms 200ms forwards ease-in;
          color: #0077B5;
          transition: 200ms all; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.linkedIn:hover {
          color: white;
          background-color: #0077B5;
          border: 1px solid #fff; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.facebook {
          opacity: 0;
          animation: fadeSocialMediaIcon 1000ms 400ms forwards ease-in;
          color: #3b5998;
          transition: 200ms all; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.facebook:hover {
          color: white;
          background-color: #3b5998;
          border: 1px solid #fff; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.github {
          opacity: 0;
          animation: fadeSocialMediaIcon 1000ms 600ms forwards ease-in;
          color: #24292e;
          transition: 200ms all; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.github:hover {
          color: white;
          background-color: #24292e;
          border: 1px solid #fff; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.stackoverflow {
          opacity: 0;
          animation: fadeSocialMediaIcon 1000ms 800ms forwards ease-in;
          color: #f69c55;
          transition: 200ms all; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.stackoverflow:hover {
          color: white;
          background-color: #f69c55;
          border: 1px solid #fff; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.twitter {
          opacity: 0;
          animation: fadeSocialMediaIcon 1000ms 1000ms forwards ease-in;
          color: #1da1f2;
          transition: 200ms all; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.twitter:hover {
          color: white;
          background-color: #1da1f2;
          border: 1px solid #fff; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.mail {
          opacity: 0;
          animation: fadeSocialMediaIcon 1000ms 1200ms forwards ease-in;
          color: #0072C6;
          transition: 200ms all; }
        #aboutContainer #socialMediaContainer .social-media-container .icon-container .social-media-icon.mail:hover {
          color: white;
          background-color: #0072C6;
          border: 1px solid #fff; }
  #aboutContainer #body .info-cards .info-card {
    text-align: center;
    background-color: white;
    opacity: 0; }
    #aboutContainer #body .info-cards .info-card .display-4 {
      font-size: 26px;
      padding-top: 20px; }
  #aboutContainer #body .info-cards .info-card.life {
    animation: fadeInInfoCards 1s 200ms forwards ease-out; }
  #aboutContainer #body .info-cards .info-card.what-i-do {
    animation: fadeInInfoCards 1s 500ms forwards ease-out; }
  #aboutContainer #body .info-cards .info-card.career {
    animation: fadeInInfoCards 1s 1000ms forwards ease-out; }

@media (max-width: 575px) {
  #header .jumbotron .display-4 {
    font-size: 24px; }
  #header .jumbotron .lead {
    font-size: 16px; }
  #header #imageContainer {
    margin-top: -70px; }
    #header #imageContainer img {
      height: 100px;
      width: 100px; }

  #socialMediaContainer .social-media-container {
    width: 60%; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 60px;
      min-width: 60px; }
      #body .content-row-outter .content-row .image-container img {
        height: 60px;
        width: 60px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 16px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 12px; } }
@media (min-width: 576px) {
  #header .jumbotron .display-4 {
    font-size: 26px; }
  #header .jumbotron .lead {
    font-size: 18px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 110px;
      width: 110px; }

  #socialMediaContainer .social-media-container {
    width: 20%; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 70px;
      min-width: 70px; }
      #body .content-row-outter .content-row .image-container img {
        height: 70px;
        width: 70px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 18px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 14px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #header .jumbotron .display-4 {
    font-size: 28px; }
  #header .jumbotron .lead {
    font-size: 20px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 120px;
      width: 120px; }

  #socialMediaContainer .social-media-container {
    width: 40%; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 90px;
      min-width: 90px; }
      #body .content-row-outter .content-row .image-container img {
        height: 90px;
        width: 90px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 20px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 16px; } }
@media (min-width: 992px) {
  #header .jumbotron .display-4 {
    font-size: 30px; }
  #header .jumbotron .lead {
    font-size: 22px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 130px;
      width: 130px; }

  #socialMediaContainer .social-media-container {
    width: 40%; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 110px;
      min-width: 110px; }
      #body .content-row-outter .content-row .image-container img {
        height: 110px;
        width: 110px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 20px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 16px; } }
@media (min-width: 1200px) {
  #header .jumbotron .display-4 {
    font-size: 34px; }
  #header .jumbotron .lead {
    font-size: 26px; }
  #header #imageContainer {
    margin-top: -90px; }
    #header #imageContainer img {
      height: 130px;
      width: 130px; }

  #socialMediaContainer .social-media-container {
    width: 40%; }

  #body .content-row-outter {
    margin: 10px 0 10px 0; }
    #body .content-row-outter .content-row .image-container {
      min-height: 120px;
      min-width: 120px; }
      #body .content-row-outter .content-row .image-container img {
        height: 120px;
        width: 120px; }
    #body .content-row-outter .content-row .content-container {
      padding-left: 15px; }
      #body .content-row-outter .content-row .content-container h3 {
        font-weight: 400;
        font-size: 20px; }
      #body .content-row-outter .content-row .content-container p {
        font-size: 16px; } }
@keyframes fadeSocialMediaIcon {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
@keyframes fadeInInfoCards {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes shiftCareer {
  from {
    position: absolute;
    left: 25%; }
  to {
    position: relative;
    left: 50%; } }

/*# sourceMappingURL=about.component.css.map */
