<section id="mlbStatsExplorer">
  <header>
    <div id="slider">
      <h1 class="mat-h1" id="selectedYear">{{selectedYear}}</h1>
      <mat-slider *ngIf="seasons.length > 0"
                  color="primary"
                  [min]="seasons[seasons.length - 1]"
                  [max]="seasons[0]"
                  [(ngModel)]="selectedYear" (input)="onSliderChange($event)">
      </mat-slider>
    </div>
  </header>
  <main>
    <div id="seasons">
      <div *ngFor="let season of seasons" class="season" [id]="'season_' + season">
        <h3>{{season}}</h3>
        <mat-divider></mat-divider>
      </div>
    </div>
  </main>
</section>
