#calendarContainer {
  #calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .mat-display-1 {
      margin-bottom: 0 !important; // TODO: Don't use !important
    }
    .button-container {
      text-align: right;
    }
  }
  .day-labels {
    display: flex;
    align-items: center;
    .day-label {
      width: 14.28%;
      text-align: center;
    }
  }
  .calendar-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .day-container {
      height: 8rem;
      width: 14.28%;
      border: 1px solid lightgray;
      .day-label {
        text-align: right;
        padding: 5px;
      }
    }
    .day-container:nth-child(-n+7) {
      border-left: none;
    }
    .day-container:first-child {
      border-left: 1px solid lightgray;
    }
    .day-container:nth-child(n+8) {
      border-top: none;
      border-left: none;
    }
    .day-container:nth-child(7n+8) {
      border-left: 1px solid lightgray;
    }
    .day-container-fade {
      opacity: 0.6;
    }
  }
}
