<section class="container" id="calendarContainer">
  <section>
    {{activeMonthName}} {{activeMonth.getUTCFullYear()}}
  </section>
  <section class="button-container">
    <button md-raised-button (click)="previousMonth()">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      Previous
    </button>
    <button md-raised-button (click)="nextMonth()">
      Next
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </button>
  </section>
  <section class="day-labels">
    <div class="day-label">Sunday</div>
    <div class="day-label">Monday</div>
    <div class="day-label">Tuesday</div>
    <div class="day-label">Wednesday</div>
    <div class="day-label">Thursday</div>
    <div class="day-label">Friday</div>
    <div class="day-label">Saturday</div>
  </section>
  <section class="calendar-container">
    <div *ngFor="let day of calendarDays" class="day-container" [class.day-container-fade]="activeMonth.getMonth() !== day.getMonth()">
      {{day.getDate()}}
      {{day | date}}
    </div>
  </section>
</section>
