<section id="homePage">
  <main>
    <div id="jumbotron">
    </div>
    <div id="mainContent">
      <mat-card>
        <div class="main">
          <div class="image-container">
            <img src="../../../images/me.JPG" />
          </div>
          <div class="content-container">
            <div>
              <div id="chatBubbleOuter">
                <span id="chatBubble">
                Hello, World
              </span>
              </div>
              <span id="headerText"> I'm <strong>Marc Wilson</strong></span>
              <hr />
              <section>
                <div>
                  <label>Age</label>
                  <label>31</label>
                </div>
                <div>
                  <label>Location</label>
                  <label>Seattle, WA</label>
                </div>
                <div>
                  <label>Email</label>
                  <label>marcw@marcswilson.com</label>
                </div>
                <div>
                  <label>Title</label>
                  <label>Software Engineer</label>
                </div>
                <div>
                  <label>Languages</label>
                  <label>JavaScript, TypeScript, CSS, SCSS, C#, HTML</label>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="social-media-container">
            <div class="icon-container" (click)="navigate('https://www.linkedin.com/in/marc-wilson-43675750/')">
              <div class="social-media-icon linkedIn">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://www.facebook.com/mswilson4040')">
              <div class="social-media-icon facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://github.com/mswilson4040')">
              <div class="social-media-icon github">
                <i class="fa fa-git" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://stackoverflow.com/users/2415802/mwilson')">
              <div class="social-media-icon stackoverflow">
                <i class="fa fa-stack-overflow" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('https://twitter.com/Mswilson4040')">
              <div class="social-media-icon twitter">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
            </div>
            <div class="icon-container" (click)="navigate('mailto:mwilson@marcswilson.com')">
              <div class="social-media-icon mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <section id="contactMeSection">
        <button mat-raised-button (click)="launchContactForm()">Contact Me</button>
      </section>
      <section id="welcomeTextSection">
        <p>
          Hello, I'm Marc Wilson. I'm a Software Engineer with an emphasis in Front End Development. I'm
          experienced in JavaScript, TypeScript, HTML, CSS, SCSS, C#, Nodejs, Express, Angular, Bootstrap
          and jQuery to name a few. I am well-versed in both back end and front end but prefer working on
          the front end.
        </p>
      </section>
      <section id="aboutSection">
        <h1 id="about">About</h1>
        <hr />
        <app-about></app-about>
      </section>
      <section id="skillsSection">
        <h1 id="skills">Technologies and Languages</h1>
        <hr />
        <app-skills></app-skills>
      </section>
      <section id="experienceSection">
        <h1 id="experience">Professional Experience</h1>
        <hr />
        <app-experience></app-experience>
      </section>
      <section id="portfolioSection">
        <h1 id="portfolio">Portfolio</h1>
        <hr />
        <app-portfolio></app-portfolio>
      </section>
    </div>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</section>
