$backgroundImageUrl: '../../../images/jumbotron-seats.jpg';
$portfolioImageUrl: '../../../images/me.jpg';

#homePage {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: -55px;
  grid-template:
    [nav-left] "nav nav" 55px [nav-right]
    [main-left] "main main" 1fr [main-right]
    [footer-left] "foot foot" auto [footer-right];
  nav {
    grid-area: nav;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    animation: fadeInNav 2s;
  }
  main {
    grid-area: main;
    animation: fadeInBackground 2s;
    #jumbotron {
      width: 100%;
      height: 400px;
      background: url($backgroundImageUrl) no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;

    }
    #mainContent {
      margin-top: -200px;
      animation: slideCardUp  500ms ease-out 1s 1;
      animation-fill-mode: forwards;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      md-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        .main {
          height: 80%;
          width: 100%;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          .image-container {
            img {
              height: 100%;
              width: 100%;
            }
          }
          .content-container {
            h3 {
              font-weight: 300;
            }
            p {
              color: #868e96;
            }
          }
        }
        .footer {
          height: 70px;
          width: 100%;
          background-color: #263238;
          display: flex;
          justify-content: center;
          align-items: center;
          .social-media-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            width: 80%;
            .icon-container {
              height: 55px;
              width: 55px;
              .social-media-icon {
                border: 1px solid transparent;
                border-radius: 50%;
                height: 55px;
                width: 55px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
              }
              .social-media-icon.linkedIn {
                color: #FFF;
                transition: 200ms all;
              }
              .social-media-icon.linkedIn:hover {
                color: white;
                background-color: #455A64;
              }
              .social-media-icon.facebook {
                //@include fadeInIcon(400ms);
                color: #FFF;
                transition: 200ms all;
              }
              .social-media-icon.facebook:hover {
                color: white;
                background-color: #455A64;
              }
              .social-media-icon.github {
                //@include fadeInIcon(600ms);
                color: #FFF;
                transition: 200ms all;
              }
              .social-media-icon.github:hover {
                color: white;
                background-color: #455A64;
              }
              .social-media-icon.stackoverflow {
                //@include fadeInIcon(800ms);
                color: #FFF;
                transition: 200ms all;
              }
              .social-media-icon.stackoverflow:hover {
                color: white;
                background-color: #455A64;
              }
              .social-media-icon.twitter {
                //@include fadeInIcon(1000ms);
                color: #FFF;
                transition: 200ms all;
              }
              .social-media-icon.twitter:hover {
                color: white;
                background-color: #455A64;
              }
              .social-media-icon.mail {
                //@include fadeInIcon(1200ms);
                color: #FFF;
                transition: 200ms all;
              }
              .social-media-icon.mail:hover {
                color: white;
                background-color: #455A64;
              }
            }
          }
        }
      }
      #contactMeSection {
        width: 40%;
        margin-top: 80px;
        text-align: center;
        button {
          height: 60px;
          width: 170px;
        }
      }
      #aboutSection {
        text-align: center;
        margin-top: 80px;
        h1 { font-weight: 300; }
      }
      #skillsSection {
        text-align: center;
        margin-top: 80px;
        h1 { font-weight: 300; }
      }
      #experienceSection {
        text-align: center;
        margin-top: 80px;
        h1 { font-weight: 300; }
      }
      #portfolioSection {
        text-align: center;
        margin-top: 80px;
        h1 { font-weight: 300; }
      }
    }
  }
  footer {
    grid-area: foot;
    background-color: gray;
    height: 300px;
  }
}

@keyframes fadeInBackground {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeInNav {
  from { color: transparent; }
  to { color: white; }
}
@keyframes slideCardUp {
  from { margin-top: -200px; }
  to { margin-top: -250px; }
}

// <editor-fold desc="Media Queries">

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #mainContent {
    md-card {
      width: 90%;
      .main {
        flex-direction: column;
        .image-container {
          width: auto;
        }
        .content-container {
          margin: 15px 0 0 0;
          width: 100%;
          h3 {
            font-size: 95%;
          }
          h5 {
            font-size: 85%;
          }
          p {
            font-size: 70%;
          }
        }
      }
    }
    #aboutSection {
      width: 90%;
    }
    #portfolioSection {
      width: 90%;
    }
    #skillsSection {
      width: 90%;
    }
    #experienceSection {
      width: 90%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #mainContent {
    md-card {
      height: 40%;
      width: 40%;
      .main {
        flex-direction: row;
        .content-container {
          margin-left: 40px;
          width: 60%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
        .image-container {
          width: 40%;
        }
      }
    }
    #aboutSection {
      width: 40%;
    }
    #portfolioSection {
      width: 40%;
    }
    #skillsSection {
      width: 40%;
    }
    #experienceSection {
      width: 40%;
    }
  }
}

// </editor-fold>
