@import '../../mixins/mq-mixins';


.cards-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  mat-card {
    text-align: center;
    flex: 1;
    .image-container {
      padding: 10px 0;
      img {
        border-radius: 150px;
        height: 80px;
        width: 80px;
      }
    }
    small {
      color: gray;
      line-height: 2;
    }
  }
}
.load-cards {
  animation: animateCard 500ms 100ms ease-in-out forwards;
}
.load-card-right {
  animation: animateCardRight 500ms 100ms ease-in-out forwards;
}
.load-card-left {
  animation: animateCardLeft 500ms 100ms ease-in-out forwards;
}
// <editor-fold desc="Animations">

@keyframes animateCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animateCardLeft {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animateCardRight {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

// </editor-fold>


// <editor-fold desc="Media Queries">

@include extra-small {
  .cards-container {
    flex-direction: column;
    mat-card {
      margin-bottom: 20px;
    }
  }
}

@include small {
  .cards-container {
    flex-direction: column;
    mat-card {
      margin-bottom: 20px;
    }
  }
}

@include medium {
  .cards-container {
    flex-direction: column;
    mat-card {
      margin-bottom: 20px;
    }
  }
}

@include large {
  .cards-container {
    flex-direction: row;
    mat-card {
      margin-bottom: 0;
      &:nth-child(even) {
        margin: 0 20px;
      }
    }
  }
}

@include extra-large {
  .cards-container {
    flex-direction: row;
    mat-card {
      margin-bottom: 0;
      &:nth-child(even) {
        margin: 0 20px;
      }
    }
  }
}

// </editor-fold>

