<div id="playerComparerContainer" class="container">
  <div id="compareDiv">
    <div class="form-group">
      <label for="firstPlayer">First Player</label>
      <input type="text" class="form-control" placeholder="Player Name..." id="firstPlayer" aria-describedby="firstHelp" />
      <small id="firstHelp" class="form-text text-muted">Enter the first player's name</small>
    </div>
    <div class="form-group">
      <label for="secondPlayer">Second Player</label>
      <input type="text" class="form-control" placeholder="Player Name..." id="secondPlayer" aria-describedby="secondHelp" />
      <small id="secondHelp" class="form-text text-muted">Enter the first player's name</small>
    </div>
  </div>
  <div id="compareChart"></div>
</div>
