#playerComparerContainer {
  #compareDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    .form-group {
      width: 100%;
      padding: 10px;
    }
  }
}
