<div id="mlbPlayerStatsComponentContainer">
  <div id="searchArea">
    <div id="searchInputContainer">
      <h3 class="h3">Search By Player</h3>
      <input type="text" placeholder="Player name..." [(ngModel)]="playerName" (ngModelChange)="playerChanged($event)" class="form-control" />
      <div class="lead text-muted">Showing {{searchResult.length}} results</div>
    </div>
    <div *ngFor="let player of searchResult" class="search-result rounded" (click)="goToPlayer(player)">
      <div class="search-result-data">
        <h5 class="h5">{{player.nameFirst}} {{player.nameLast}}</h5>
        <a href="/api/mlbstats/players/id/{{player.playerID}}" target="_blank">JSON: http://marcswilson.com/api/mlbstats/players/id/{{player.playerID}}</a>
        <div class="text-muted">
          {{player.nameFirst}} {{player.nameLast}} is from {{player.birthCity}}, {{player.birthState}} in the {{player.birthCountry}}. {{player.nameFirst}}'s debut was on {{player.debut | date}}
          and bats {{player.bats}} and throws {{player.throws}}.
        </div>
      </div>
    </div>
  </div>
  <div id="chartArea">
    <div id="chartSelectors" [hidden]="selectedPlayer.length === 0">
      <mat-tab-group>
        <mat-tab label="Batting">
          <div class="selectors">
            <div class="selector-container rounded" (click)="switchChart('batting', 'HR')">
              <div class="text-muted">Homeruns</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'AB')">
              <div class="text-muted">At Bats</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'R')">
              <div class="text-muted">Runs</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'H')">
              <div class="text-muted">Hits</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', '2B')">
              <div class="text-muted">Doubles</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', '3B')">
              <div class="text-muted">Triples</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'RBI')">
              <div class="text-muted">RBI</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'SB')">
              <div class="text-muted">Bases Stole</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'CS')">
              <div class="text-muted">Caught Stealing</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'BB')">
              <div class="text-muted">Walked</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'SO')">
              <div class="text-muted">Strikeouts</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'IBB')">
              <div class="text-muted">Intentional Walks</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'HBP')">
              <div class="text-muted">Hit by Pitch</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'SH')">
              <div class="text-muted">Sacrifice Hit</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('batting', 'SF')">
              <div class="text-muted">Sacrifice Fly</div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Pitching">
          <div class="selectors">
            <div class="selector-container rounded" (click)="switchChart('pitching', 'W')">
              <div class="text-muted">Wins</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'L')">
              <div class="text-muted">Losses</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'G')">
              <div class="text-muted">Games</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'GS')">
              <div class="text-muted">Starts</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'CG')">
              <div class="text-muted">Complete Games</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'SHO')">
              <div class="text-muted">Shutouts</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'SV')">
              <div class="text-muted">Saves</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'IPouts')">
              <div class="text-muted">Outs Pitched</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'H')">
              <div class="text-muted">Hits</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'ER')">
              <div class="text-muted">Earned Runs</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'HR')">
              <div class="text-muted">Homeruns</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'BB')">
              <div class="text-muted">Walks</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'SO')">
              <div class="text-muted">Strikeouts</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'BAOpp')">
              <div class="text-muted">Batting Average</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'ERA')">
              <div class="text-muted">ERA</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'IBB')">
              <div class="text-muted">Intentional Walks</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'WP')">
              <div class="text-muted">Wild Pitches</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'HBP')">
              <div class="text-muted">Hit by Pitch</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'BK')">
              <div class="text-muted">Balk</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'BFP')">
              <div class="text-muted">Batters Faced</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'GF')">
              <div class="text-muted">Games Finished</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'R')">
              <div class="text-muted">Runs</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'SH')">
              <div class="text-muted">Sacrifice Hits</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('pitching', 'SF')">
              <div class="text-muted">Sacrifice Flies</div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Fielding">
          <div class="selectors">
            <div class="selector-container rounded" (click)="switchChart('fielding', 'G')">
              <div class="text-muted">Games</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('fielding', 'GS')">
              <div class="text-muted">Starts</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('fielding', 'PO')">
              <div class="text-muted">Putouts</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('fielding', 'A')">
              <div class="text-muted">Assists</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('fielding', 'E')">
              <div class="text-muted">Errors</div>
            </div>
            <div class="selector-container rounded" (click)="switchChart('fielding', 'DP')">
              <div class="text-muted">Double Plays</div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Salaries">
          <div class="selectors">
            <div class="selector-container rounded" (click)="switchChart('salaries', 'salary')">
              <div class="text-muted">Salary</div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div id="appearancesChart"></div>
    <div id="yearTabsContainer">
      <mat-tab-group>
        <mat-tab *ngFor="let appearance of selectedPlayer; let i = index" label="{{appearance.yearID}}">
          <div class="stat-category-container">
            <h5 class="h5 category-title">Personal</h5>
            <hr/>
            <div class="stat-container">
              <div class="text-muted col-xl-6 col-6">Name: {{appearance.personal[0].fullName}}</div>
              <div class="text-muted col-xl-6 col-6">Born: {{appearance.personal[0].born | date}}</div>
              <div class="text-muted col-xl-6 col-6">Age: {{appearance.personal[0].age}}</div>
              <div class="text-muted col-xl-6 col-6">Died: {{appearance.personal[0].died | date}}</div>
              <div class="text-muted col-xl-6 col-6">Country: {{appearance.personal[0].birthCountry}}</div>
              <div class="text-muted col-xl-6 col-6">State: {{appearance.personal[0].birthState}}</div>
              <div class="text-muted col-xl-6 col-6">City: {{appearance.personal[0].birthCity}}</div>
              <div class="text-muted col-xl-6 col-6">Weight: {{appearance.personal[0].weight}}</div>
              <div class="text-muted col-xl-6 col-6">Height: {{appearance.personal[0].height}}</div>
              <div class="text-muted col-xl-6 col-6">Bats: {{appearance.personal[0].bats}}</div>
              <div class="text-muted col-xl-6 col-6">Throws: {{appearance.personal[0].throws}}</div>
              <div class="text-muted col-xl-6 col-6">Debut: {{appearance.personal[0].debut | date}}</div>
              <div class="text-muted col-xl-6 col-6">Final Game: {{appearance.personal[0].finalGame | date}}</div>
            </div>
          </div>
          <div class="stat-category-container">
            <h5 class="h5 category-title">Fielding</h5>
            <hr/>
            <div>
              <div class="text-muted col-xl-12" *ngFor="let f of appearance.fielding">
                {{f.POS}}
                <hr />
                <div class="stat-container">
                  <div class="text-muted col-xl-6 col-6">Games: {{f.G}}</div>
                  <div class="text-muted col-xl-6 col-6">Starts: {{f.GS}}</div>
                  <div class="text-muted col-xl-6 col-6">Assists: {{f.A}}</div>
                  <div class="text-muted col-xl-6 col-6">Errors: {{f.E}}</div>
                  <div class="text-muted col-xl-6 col-6">Double Plays: {{f.DP}}</div>
                  <div class="text-muted col-xl-6 col-6">Putouts: {{f.PO}}</div>
                  <div class="text-muted col-xl-6 col-6">Zone Rating: {{f.ZR}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="stat-category-container">
            <h5 class="h5 category-title">Batting</h5>
            <hr />
            <div class="stat-container">
              <div class="text-muted col-xl-6 col-6">Games: {{appearance.batting[0].G}}</div>
              <div class="text-muted col-xl-6 col-6">At Bats: {{appearance.batting[0].AB}}</div>
              <div class="text-muted col-xl-6 col-6">Runs: {{appearance.batting[0].R}}</div>
              <div class="text-muted col-xl-6 col-6">Hits: {{appearance.batting[0].H}}</div>
              <div class="text-muted col-xl-6 col-6">Doubles: {{appearance.batting[0]['2B']}}</div>
              <div class="text-muted col-xl-6 col-6">Triples: {{appearance.batting[0]['3B']}}</div>
              <div class="text-muted col-xl-6 col-6">Homeruns: {{appearance.batting[0].HR}}</div>
              <div class="text-muted col-xl-6 col-6">RBI: {{appearance.batting[0].RBI}}</div>
              <div class="text-muted col-xl-6 col-6">Stolen Bases: {{appearance.batting[0].SB}}</div>
              <div class="text-muted col-xl-6 col-6">Caught Stealing: {{appearance.batting[0].CS}}</div>
              <div class="text-muted col-xl-6 col-6">Bases by Balls: {{appearance.batting[0].BB}}</div>
              <div class="text-muted col-xl-6 col-6">Strike Outs: {{appearance.batting[0].SO}}</div>
              <div class="text-muted col-xl-6 col-6">Intentional Walks: {{appearance.batting[0].IBB}}</div>
              <div class="text-muted col-xl-6 col-6">Hit by Pitch: {{appearance.batting[0].HBP}}</div>
              <div class="text-muted col-xl-6 col-6">Sacrifice Hits: {{appearance.batting[0].SH}}</div>
              <div class="text-muted col-xl-6 col-6">Sacrifice Flies: {{appearance.batting[0].SF}}</div>
              <div class="text-muted col-xl-6 col-6">Grounded Into Double Plays: {{appearance.batting[0].GIDP}}</div>
            </div>
          </div>
          <div class="stat-category-container">
            <h5 class="h5 category-title">Salary</h5>
            <hr />
            <div>
              <div class="empty-message" [hidden]="appearance.salaries.length > 0">
                <p class="text-muted">No Salary info</p>
              </div>
              <div calss="col-xl-12" *ngFor="let s of appearance.salaries">
                <div class="stat-container">
                  <div class="text-muted col-xl-6 col-6">{{s.salary | currency: 'USD': true}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="stat-category-container">
            <h5 class="h5 category-title">Pitching</h5>
            <hr />
            <div>
              <div class="empty-message" [hidden]="appearance.pitching.length > 0">
                <p class="text-muted">No Pitching info</p>
              </div>
              <div class="col-xl-12" *ngFor="let p of appearance.pitching">
                <div class="stat-container">
                  <div class="text-muted col-xl-6 col-6">Wins: {{p.W}}</div>
                  <div class="text-muted col-xl-6 col-6">Losses: {{p.L}}</div>
                  <div class="text-muted col-xl-6 col-6">Games: {{p.G}}</div>
                  <div class="text-muted col-xl-6 col-6">Starts: {{p.GS}}</div>
                  <div class="text-muted col-xl-6 col-6">Complete Games: {{p.CG}}</div>
                  <div class="text-muted col-xl-6 col-6">Shutouts: {{p.SHO}}</div>
                  <div class="text-muted col-xl-6 col-6">Saves: {{p.SV}}</div>
                  <div class="text-muted col-xl-6 col-6">Outs Pitched: {{p.IPouts}}</div>
                  <div class="text-muted col-xl-6 col-6">Hits: {{p.H}}</div>
                  <div class="text-muted col-xl-6 col-6">Earned Runs: {{p.ER}}</div>
                  <div class="text-muted col-xl-6 col-6">Homeruns: {{p.HR}}</div>
                  <div class="text-muted col-xl-6 col-6">Walks: {{p.BB}}</div>
                  <div class="text-muted col-xl-6 col-6">Strikeouts: {{p.SO}}</div>
                  <div class="text-muted col-xl-6 col-6">Opponent Batting Average: {{p.BAOpp}}</div>
                  <div class="text-muted col-xl-6 col-6">Earned Runs Average: {{p.ERA}}</div>
                  <div class="text-muted col-xl-6 col-6">Intentional Walks: {{p.IBB}}</div>
                  <div class="text-muted col-xl-6 col-6">Wild Pitches: {{p.WP}}</div>
                  <div class="text-muted col-xl-6 col-6">Batters Hit by Pitch: {{p.HBP}}</div>
                  <div class="text-muted col-xl-6 col-6">Balks: {{p.BK}}</div>
                  <div class="text-muted col-xl-6 col-6">Batters Face by Pitcher: {{p.BFP}}</div>
                  <div class="text-muted col-xl-6 col-6">Games Finished: {{p.GF}}</div>
                  <div class="text-muted col-xl-6 col-6">Runs Allowed: {{p.R}}</div>
                  <div class="text-muted col-xl-6 col-6">Sacrifice Hits by Opponent: {{p.SH}}</div>
                  <div class="text-muted col-xl-6 col-6">Sacrifice Flies by Opponent: {{p.SF}}</div>
                  <div class="text-muted col-xl-6 col-6">Grounded Into Double Plays: {{p.GIDP}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="stat-category-container">
            <h5 class="h5 category-title">Individual Awards</h5>
            <hr />
            <div>
              <div class="empty-message" [hidden]="appearance.individualAwards.length > 0">
                <p class="text-muted">No Individual Awards</p>
              </div>
              <div class="col-xl-12" *ngFor="let ia of appearance.individualAwards">
                <div class="text-muted col-xl-6">Award: {{ia.awardId}}</div>
              </div>
            </div>
          </div>
          <div class="stat-category-container">
            <h5 class="h5 category-title">Shared Awards</h5>
            <hr />
            <div>
              <div class="empty-message" [hidden]="appearance.sharedAwards.length > 0">
                <p class="text-muted">No Shared Awards</p>
              </div>
              <div class="col-xl-12" *ngFor="let sa of appearance.sharedAwards">
                <div class="text-muted col-xl-6">Award: {{sa.awardId}}</div>
                <div class="text-muted col-xl-6">Points Won: {{sa.pointsWon}}</div>
                <div class="text-muted col-xl-6">Points Max: {{sa.pointsMax}}</div>
                <div class="text-muted col-xl-6">Votes First: {{sa.votesFirst}}</div>
              </div>
            </div>
          </div>
          <div class="stat-category-container">
            <h5 class="h5 category-title">Teams</h5>
            <hr />
            <div>
              <div class="text-muted col-xl-12" *ngFor="let team of appearance.teams">
                {{team.name}}
                <hr />
                <div class="stat-container">
                  <div class="text-muted col-xl-6">Rank: {{team.Rank}}</div>
                  <div class="text-muted col-xl-6">Games: {{team.G}}</div>
                  <div class="text-muted col-xl-6">Home Games: {{team.Ghome}}</div>
                  <div class="text-muted col-xl-6">Wins: {{team.W}}</div>
                  <div class="text-muted col-xl-6">Losses: {{team.L}}</div>
                  <div class="text-muted col-xl-6">Division Win: {{team.DivWin}}</div>
                  <div class="text-muted col-xl-6">Wild Card Win: {{team.WCWin}}</div>
                  <div class="text-muted col-xl-6">World Series Win: {{team.WSWin}}</div>
                  <div class="text-muted col-xl-6">Runs: {{team.R}}</div>
                  <div class="text-muted col-xl-6">At Bats: {{team.AB}}</div>
                  <div class="text-muted col-xl-6">Doubles: {{team['2B']}}</div>
                  <div class="text-muted col-xl-6">Triples: {{team['3B']}}</div>
                  <div class="text-muted col-xl-6">Homeruns: {{team.HR}}</div>
                  <div class="text-muted col-xl-6">Walks: {{team.BB}}</div>
                  <div class="text-muted col-xl-6">Strikeouts: {{team.SO}}</div>
                  <div class="text-muted col-xl-6">Stolen Bases: {{team.SB}}</div>
                  <div class="text-muted col-xl-6">Caught Stealing: {{team.CS}}</div>
                  <div class="text-muted col-xl-6">Batters Hit by Pitch: {{team.HBP}}</div>
                  <div class="text-muted col-xl-6">Sacrifice Flies: {{team.SF}}</div>
                  <div class="text-muted col-xl-6">Opponents Runs Scored: {{team.RA}}</div>
                  <div class="text-muted col-xl-6">Earned Runs Allowed: {{team.ER}}</div>
                  <div class="text-muted col-xl-6">Earned Runs Average: {{team.ERA}}</div>
                  <div class="text-muted col-xl-6">Completed Games: {{team.CG}}</div>
                  <div class="text-muted col-xl-6">Shutouts: {{team.SHO}}</div>
                  <div class="text-muted col-xl-6">Saves: {{team.SV}}</div>
                  <div class="text-muted col-xl-6">Outs Pitched: {{team.IPouts}}</div>
                  <div class="text-muted col-xl-6">Hits Allowed: {{team.HA}}</div>
                  <div class="text-muted col-xl-6">Homeruns Allowed: {{team.HRA}}</div>
                  <div class="text-muted col-xl-6">Walks Allowed: {{team.BBA}}</div>
                  <div class="text-muted col-xl-6">Strikeouts by Pitchers: {{team.SOA}}</div>
                  <div class="text-muted col-xl-6">Errors: {{team.E}}</div>
                  <div class="text-muted col-xl-6">Double Plays: {{team.DP}}</div>
                  <div class="text-muted col-xl-6">Fielding Percentage: {{team.FP}}</div>
                  <div class="text-muted col-xl-6">Ballpark: {{team.park}}</div>
                  <div class="text-muted col-xl-6">Home Attendance Total: {{team.attendance}}</div>
                  <div class="text-muted col-xl-6">Three Year Park Factor for Batters: {{team.BPF}}</div>
                  <div class="text-muted col-xl-6">Three Year Park Factor for Pitchers: {{team.PPF}}</div>
                  <div class="text-muted col-xl-6">Hits: {{team.H}}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
