<section class="container" id="invoiceContainer">
  <header>
    <h3>Invoices</h3>
    <hr />
  </header>
  <main>
    <section>
      <md-accordion *ngIf="selectedTab === 3">
        <md-expansion-panel *ngFor="let invoice of invoices">
          <md-expansion-panel-header>
            <md-panel-title>
              {{invoice.company.name}} - {{invoice.invoiceMonth}}, {{invoice.invoiceYear}}
            </md-panel-title>
            <md-panel-description>
              {{invoice.totalCompensation | currency:'USD':true}}
            </md-panel-description>
          </md-expansion-panel-header>
          <hr />
          <div class="content-header">
            <div>
              <strong>Submitted:</strong> {{invoice.invoiceDate | date}}
            </div>
            <div>
              <strong>Due:</strong> {{invoice.invoiceDueDate | date}}
            </div>
            <div>
              <strong>Hours:</strong> {{invoice.totalHours}}
            </div>
            <div>
              <strong>Amount Due:</strong> {{invoice.totalCompensation | currency:'USD':true}}
            </div>
          </div>
          <div class="content-body">
            <md-accordion>
              <md-expansion-panel *ngFor="let entry of invoice.entries" class="invoice-entry-container">
                <md-expansion-panel-header>
                  <md-panel-title>
                    <div class="title-container">
                      <div>{{entry.date | date}} - {{entry.project.name}}</div>
                      <div><md-chip>{{entry.timeSpent}}</md-chip></div>
                    </div>

                  </md-panel-title>
                </md-expansion-panel-header>
                <div class="entry-container">
                  <p>{{entry.description}}</p>
                </div>
              </md-expansion-panel>
            </md-accordion>

          </div>
        </md-expansion-panel>
      </md-accordion>
    </section>
    <button md-raised-button color="primary" (click)="createInvoice()">Create Invoice</button>
  </main>
</section>


