#databaseManagerComponent {
  height: 100%;
  width: 80%;
  margin: auto;
  #header {
    display: flex;
    align-items: center;
  }
  #mainContent {
    display: flex;
    #collectionsContainer {
      ul {
        list-style-type: none;
        li {
          .collection-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: 0.7;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    #mainContainer {

    }
  }
}
