#databaseManagerComponent {
  height: 100%;
  width: 80%;
  margin: auto;
  #header {
    display: flex;
    align-items: center;
  }
  #mainContent {
    display: flex;
    #collectionsContainer {
      ul {
        list-style-type: none;
        li {
          .collection-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: 0.7;
            padding-right: 10px;
            &:hover {
              opacity: 1;
            }
            &.active {
              background-color: #343e47;
              color: white;
            }
            mat-icon {
              padding: 0 5px;
            }
          }
        }
      }
    }
    #mainContainer {
      width: 100%;
      #dataContainer {
        width: 100%;
        mat-table {
          width: 100%;
        }
      }
    }
  }
}
