.nav-container {
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-links {
    display: flex;
    align-items: center;
    width: 40%;
    .nav-link {
      cursor: pointer;
      border-bottom: 3px solid transparent;
      transition: all 300ms;
    }
    .nav-link.active {
      border-bottom: 3px solid white;
    }
    .nav-link:hover {
      border-bottom: 3px solid white;
    }
  }
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  animation: stickyNav 300ms ease-in-out 200ms forwards;
  margin-bottom: 100px;
}
.non-sticky {
  animation: nonStickyNav 300ms ease-in-out 200ms forwards;
}

@keyframes stickyNav {
  from {
    height: 1%;
    background-color: transparent;
  }
  to {
    background-color: #1E2933;
    height: 60px;
  }
}

@keyframes nonStickyNav {
  from {
    height: 60px;
    background-color: #1E2933;
  }
  to {
    height: 50px;
    background-color: transparent;
  }
}
