$navBackground: #263238;
$navText: #FFFFFF;
.nav-container {
  background-color: $navBackground;
  color: $navText;
  display: flex;
  padding-left: 40px;
  #hamburger {
    padding: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  #siteName {
    padding: 10px;
  }
}
