.nav-container {
  ul {
    list-style-type: none;
    width: 55%;
    margin: auto;
    .nav-link {
      padding: 10px;
      cursor: pointer;

    }
  }
  ul.mobile-view {

  }
  ul.desktop-view {
    display: flex;
    flex-direction: row;
  }
}
