.g-full-screen {
  height: 100%;
  width: 100%;
}

.g-dialog-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .g-dialog-header {
    .g-dialog-title {
      font-weight: 100;
    }
  }
  .g-dialog-main {
    flex-grow: 1;
    .g-input-container {
      width: 100%;
      padding: 10px 0;
      md-select,
      md-input-container,
      md-form-field,
      input {
        width: 100%;
      }
    }
  }
  .g-dialog-footer {
    text-align: right;
  }
}
