.g-full-screen {
  height: 100%;
  width: 100%;
}

//Override bootstrap modal content jump
.modal-open {
  padding-right: 0px !important;
  overflow: inherit !important;
}

button {
  cursor: pointer;
}
