.g-full-screen {
  height: 100%;
  width: 100%;
}

.g-dialog-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .g-dialog-header {
    .g-dialog-title {
      font-weight: 100;
    }
  }
  .g-dialog-main {
    flex-grow: 1;
  }
  .g-dialog-footer {
    text-align: right;
  }
}

button {
  cursor: pointer;
}
