@import './globals';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  @extend .g-full-screen;
}

.fa, button { cursor: pointer; }

mat-icon {
  height: auto !important;
  width: auto !important;
}

div {
  outline: none !important;
}
