@import './globals';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  @extend .g-full-screen;
}

#mediaHelper {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: lightblue;
  color: black;
  height:30px;
  width: 100%;
  text-align: center;
  z-index: 9999999;
}

.fa, button { cursor: pointer; }

mat-icon {
  height: auto !important;
  width: auto !important;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #mediaHelper:before {content: 'portrait phones, less than 576px';}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #mediaHelper:before {content: 'landscape phones, 576px and up';}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  #mediaHelper:before {content: 'tablets, 768px and up';}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #mediaHelper:before {content: 'desktops, 992px and up';}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #mediaHelper:before {content: 'large desktops, 1200px and up';}
}

// Extra Extra large devices (extra large desktops, 1500px and up
@media (min-width: 1800px) {
  #mediaHelper:before {content: 'extra large desktops, 1800px and up';}
}
