<section id="shellContainer">
  <mat-sidenav-container>
    <mat-sidenav #sidenav id="sideNav">
      <div id="navLinks">
        <div *ngFor="let link of navbar.links">
          <a class="mat-button" [routerLink]="link.url" (click)="onNavToggle(false, sidenav)">{{link.name}}</a>
        </div>
      </div>
      <div id="navFooter">
        <button mat-raised-button color="accent" (click)="launchContactForm()">Contact Me</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content (scroll)="onScroll($event)">
      <app-global-nav (onToggleNav)="onNavToggle($event, sidenav)"></app-global-nav>
      <router-outlet></router-outlet>
      <app-overlay></app-overlay>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
<app-breakpoint-helper></app-breakpoint-helper>
<app-overlay></app-overlay>
