<section id="shellContainer">
  <mat-sidenav-container>
    <mat-sidenav #sidenav id="sideNav">
      <div id="sidenavHeader">
        <h1 class="mat-h1">Marc Wilson</h1>
      </div>
      <div id="navLinks">
        <mat-card *ngFor="let link of navbar.links">
          <div class="card-container" [routerLink]="link.url" (click)="onNavToggle(false, sidenav)">
            <mat-icon>{{link.icon}}</mat-icon>
            <div>{{link.name}}</div>
          </div>
          <div class="child-links" *ngIf="link.children.length > 0">
            <div *ngFor="let child of link.children" class="child-link" [routerLink]="child.url" (click)="onNavToggle(false, sidenav)">
              {{child.name}}
            </div>
          </div>
        </mat-card>
      </div>
    </mat-sidenav>
    <mat-sidenav-content (scroll)="onScroll($event)">
      <app-global-nav (onToggleNav)="onNavToggle($event, sidenav)"></app-global-nav>
      <router-outlet></router-outlet>
      <app-overlay></app-overlay>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>




