#shellContainer {
  height: 100%;
  mat-sidenav-container {
    height: 100%;
    mat-sidenav {
      width: 300px;
      #sidenavHeader {
        height: 55px;
        border-bottom: 1px solid lightgray;
        text-align: center;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          margin: 0;
        }
      }
      #navLinks {
        ul {
          list-style-type: none;
          padding: 0;
          li {
            .link-container {
              padding: 10px 0;
              cursor: pointer;
              mat-icon {
                padding: 0 15px;
              }
              ul {

              }
              .link-item {
                display: flex;
                align-items: center;
                width: 100%;
              }
              .child-link {
                padding: 5px 70px;
                font-size: 90%;
              }
            }
          }
        }
      }
    }
  }
}
