$navBackground: #263238;
$navText: #FFFFFF;

#shellContainer {
  height: 100%;
  mat-sidenav-container {
    height: 100%;
    mat-sidenav {
      width: 300px;
      background-color: $navBackground;
      color: $navText;
      #sidenavHeader {
        height: 55px;
        border-bottom: 1px solid lightgray;
        text-align: center;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          margin: 0;
        }
      }
      #navLinks {
        mat-expansion-panel {
          background-color: $navBackground;
          mat-expansion-panel-header {
            mat-panel-title, mat-panel-description {
              color: $navText;

            }
          }
          /deep/ mat-expansion-panel-header > .mat-expansion-indicator:after {
            color: white;
          }
        }
      }
    }
  }
}
