<section id="shellContainer">
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <div id="sidenavHeader">
        <h1 class="mat-h1">Marc Wilson</h1>
      </div>
      <div id="navLinks">
        <ul>
          <li>
            <div class="link-container">
              <mat-icon>home</mat-icon>
              <div>Home</div>
            </div>
          </li>
          <li>
            <div class="link-container">
              <mat-icon>account_circle</mat-icon>
              <div>About</div>
            </div>
          </li>
          <li>
            <div class="link-container">
              <mat-icon>card_travel</mat-icon>
              <div>Portfolio</div>
            </div>
          </li>
        </ul>
      </div>

    </mat-sidenav>
    <app-global-nav (onToggleNav)="onNavToggle($event, sidenav)"></app-global-nav>
    <router-outlet></router-outlet>
    <div id="mediaHelper"></div>
    <app-overlay></app-overlay>
  </mat-sidenav-container>
</section>

