#mlbStatsContainer {
  padding-top: 55px;
  height: 100%; }
  #mlbStatsContainer .jumbotron {
    text-align: center;
    margin-bottom: 0; }
  #mlbStatsContainer #boxscores {
    width: 100%;
    height: 100px;
    background-color: #4a535b;
    display: flex; }
    #mlbStatsContainer #boxscores .shifter {
      height: 100px;
      min-width: 30px;
      background-color: #343e47;
      opacity: 0.7;
      transition: 200ms all;
      display: flex;
      justify-content: center;
      align-items: center; }
      #mlbStatsContainer #boxscores .shifter .fa {
        color: white; }
    #mlbStatsContainer #boxscores .shifter:hover {
      opacity: 1;
      cursor: pointer; }
    #mlbStatsContainer #boxscores .shifter.shifter-left {
      position: absolute;
      left: 0; }
      #mlbStatsContainer #boxscores .shifter.shifter-left .fade {
        position: absolute;
        width: 100%;
        height: 100px; }
    #mlbStatsContainer #boxscores .shifter.shifter-right {
      position: absolute;
      right: 0; }
    #mlbStatsContainer #boxscores #scorecardContainer {
      display: flex;
      overflow: hidden; }
      #mlbStatsContainer #boxscores #scorecardContainer .scorecard {
        height: 100%;
        min-width: 200px;
        padding: 5px;
        border: 1px solid gray; }
        #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-status {
          color: white; }
        #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info {
          display: flex; }
          #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .scores {
            color: white;
            width: 100%; }
            #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .scores .score {
              display: flex;
              align-items: center; }
              #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .scores .score .logo {
                padding-right: 2px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center; }
                #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .scores .score .logo img {
                  height: 18px; }
              #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .scores .score .team {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center; }
          #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info {
            width: 100%;
            display: flex; }
            #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info .diamond {
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center; }
              #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info .diamond .diamond-inner {
                width: 45%;
                height: 60%;
                display: flex;
                flex-wrap: wrap;
                transform: rotate(45deg); }
                #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info .diamond .diamond-inner .base {
                  background-color: lightgray;
                  height: 10px;
                  width: 10px;
                  margin: 3px; }
                #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info .diamond .diamond-inner .base.fill {
                  background-color: #ff222b; }
            #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info .outs {
              width: 30%;
              height: 100%;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center; }
              #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info .outs .out {
                background-color: lightgray;
                height: 10px;
                width: 10px;
                margin: 5px;
                border-radius: 50%; }
              #mlbStatsContainer #boxscores #scorecardContainer .scorecard .game-info .inning-info .outs .out.fill {
                background-color: #ffc821; }
  #mlbStatsContainer .container #mlbstatsSelectorContainer {
    margin: 10px; }
    #mlbStatsContainer .container #mlbstatsSelectorContainer .card-group .card .card-block .card-title {
      font-weight: 500; }
    #mlbStatsContainer .container #mlbstatsSelectorContainer .card-group .card .card-block hr {
      margin: 5px 0 5px 0; }
    #mlbStatsContainer .container #mlbstatsSelectorContainer .card-group .card:hover {
      color: white;
      background-color: #2f4050;
      cursor: pointer; }

@media (max-width: 575px) {
  .jumbotron .display-4 {
    font-size: 38px; }
  .jumbotron .lead {
    font-size: 18px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 80px;
      width: 200px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: .75rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 16px;
          margin-bottom: 2px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 12px;
          margin-bottom: 0; }
        #mlbstatsSelectorContainer .card-group .card .card-block .text-muted {
          display: none; } }
@media (min-width: 576px) {
  .jumbotron .display-4 {
    font-size: 42px; }
  .jumbotron .lead {
    font-size: 20px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 100px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 100px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: .75rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 18px;
          margin-bottom: 2px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 14px;
          margin-bottom: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron .display-4 {
    font-size: 42px; }
  .jumbotron .lead {
    font-size: 20px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 100px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 100px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: .75rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 18px;
          margin-bottom: 2px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 14px;
          margin-bottom: 0; } }
@media (min-width: 992px) {
  .jumbotron .display-4 {
    font-size: 48px; }
  .jumbotron .lead {
    font-size: 22px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 120px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 120px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: 1rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 20px;
          margin-bottom: 4px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 16px;
          margin-bottom: 0; } }
@media (min-width: 1200px) {
  .jumbotron .display-4 {
    font-size: 48px; }
  .jumbotron .lead {
    font-size: 22px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 120px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 120px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: 1rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 20px;
          margin-bottom: 4px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 16px;
          margin-bottom: 0; } }

/*# sourceMappingURL=mlb-stats.component.css.map */
