#mlbStatsContainer {
  padding-top: 55px;
  height: 100%; }
  #mlbStatsContainer .jumbotron {
    text-align: center;
    margin-bottom: 0; }
  #mlbStatsContainer #boxscores {
    display: flex;
    flex-direction: row;
    background-color: #1E2933;
    justify-content: center;
    color: white;
    height: 75px; }
    #mlbStatsContainer #boxscores .scorecard {
      width: 100px;
      border: 1px solid lightgray;
      padding: 10px 20px; }
      #mlbStatsContainer #boxscores .scorecard .score {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
      #mlbStatsContainer #boxscores .scorecard small.status {
        text-align: center;
        width: 100%; }
  #mlbStatsContainer .container #mlbstatsSelectorContainer {
    margin: 10px; }
    #mlbStatsContainer .container #mlbstatsSelectorContainer .card-group .card .card-block .card-title {
      font-weight: 500; }
    #mlbStatsContainer .container #mlbstatsSelectorContainer .card-group .card .card-block hr {
      margin: 5px 0 5px 0; }
    #mlbStatsContainer .container #mlbstatsSelectorContainer .card-group .card:hover {
      color: white;
      background-color: #2f4050;
      cursor: pointer; }

@media (max-width: 575px) {
  .jumbotron .display-4 {
    font-size: 38px; }
  .jumbotron .lead {
    font-size: 18px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 80px;
      width: 200px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: .75rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 16px;
          margin-bottom: 2px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 12px;
          margin-bottom: 0; }
        #mlbstatsSelectorContainer .card-group .card .card-block .text-muted {
          display: none; } }
@media (min-width: 576px) {
  .jumbotron .display-4 {
    font-size: 42px; }
  .jumbotron .lead {
    font-size: 20px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 100px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 100px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: .75rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 18px;
          margin-bottom: 2px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 14px;
          margin-bottom: 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron .display-4 {
    font-size: 42px; }
  .jumbotron .lead {
    font-size: 20px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 100px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 100px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: .75rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 18px;
          margin-bottom: 2px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 14px;
          margin-bottom: 0; } }
@media (min-width: 992px) {
  .jumbotron .display-4 {
    font-size: 48px; }
  .jumbotron .lead {
    font-size: 22px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 120px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 120px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: 1rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 20px;
          margin-bottom: 4px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 16px;
          margin-bottom: 0; } }
@media (min-width: 1200px) {
  .jumbotron .display-4 {
    font-size: 48px; }
  .jumbotron .lead {
    font-size: 22px; }

  #mlbstatsSelectorContainer .card-group {
    display: flex;
    flex-direction: row;
    height: 120px; }
    #mlbstatsSelectorContainer .card-group .card {
      height: 120px;
      width: 250px; }
      #mlbstatsSelectorContainer .card-group .card .card-block {
        padding: 1rem; }
        #mlbstatsSelectorContainer .card-group .card .card-block h4 {
          font-size: 20px;
          margin-bottom: 4px; }
        #mlbstatsSelectorContainer .card-group .card .card-block .card-text {
          font-size: 16px;
          margin-bottom: 0; } }

/*# sourceMappingURL=mlb-stats.component.css.map */
