<section id="skillsContainer">
  <div>
    <mat-card>
      <div class="skill-container">
        <label class="mat-body-1">JavaScript</label>
        <mat-progress-bar mode="determinate" [value]="javaScript" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">TypeScript</label>
        <mat-progress-bar mode="determinate" [value]="typeScript" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">Angular</label>
        <mat-progress-bar mode="determinate" [value]="angular" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">jQuery</label>
        <mat-progress-bar mode="determinate" [value]="jQuery" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">Node</label>
        <mat-progress-bar mode="determinate" [value]="node" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">HTML</label>
        <mat-progress-bar mode="determinate" [value]="html" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">CSS/SCSS</label>
        <mat-progress-bar mode="determinate" [value]="css" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">C#</label>
        <mat-progress-bar mode="determinate" [value]="cSharp" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">Bootstrap</label>
        <mat-progress-bar mode="determinate" [value]="bootstrap" color="primary"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label class="mat-body-1">Angular Material</label>
        <mat-progress-bar mode="determinate" [value]="angularMaterial" color="primary"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
</section>
