<section id="skillsContainer">
  <div>
    <mat-card>
      <div class="skill-container">
        <label>JavaScript</label>
        <mat-progress-bar mode="determinate" [value]="javaScript"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>TypeScript</label>
        <mat-progress-bar mode="determinate" [value]="typeScript"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>Angular</label>
        <mat-progress-bar mode="determinate" [value]="angular"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>jQuery</label>
        <mat-progress-bar mode="determinate" [value]="jQuery"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>Node</label>
        <mat-progress-bar mode="determinate" [value]="node"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>HTML</label>
        <mat-progress-bar mode="determinate" [value]="html"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>CSS/SCSS</label>
        <mat-progress-bar mode="determinate" [value]="css"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>C#</label>
        <mat-progress-bar mode="determinate" [value]="cSharp"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>Bootstrap</label>
        <mat-progress-bar mode="determinate" [value]="bootstrap"></mat-progress-bar>
      </div>
      <div class="skill-container">
        <label>Angular Material</label>
        <mat-progress-bar mode="determinate" [value]="angularMaterial"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
</section>
