#skillsContainer {
  width: 100%;
  div {
    width: 100%;
    mat-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .skill-container {
        text-align: left;
        width: 45%;
        margin: 5px;
        label {
          line-height: 2;
          color: gray;
        }
      }
    }
  }

}
